
<script>
    new ControlList({
        'view'            	: view,
        'class'        		: 'ticket.Relations',
        'get_params'        : view.params,
        'title'           	: 'Relations: Customers, Contacts and Companies',
        'endless_scrolling'	: true,
        'favorite_menu'     : 'relations',
    });

</script>

<span class="ui-icon ui-icon-search" style='display:inline-block'></span>
<input type='text' class='control-on-change-search control-default-focus' control-search-keys='title desc emails.email phones.phone invoice.customer_nr'>

<table >
    <tr class='ui-widget-header'>
        <th class='ticket-sharing-permissions'>
    	<th class='field-meta-put control-on-click-order control-order-asc' field-key='title' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='invoice.customer_nr' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='desc' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='emails' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='phones' field-meta-key='desc'>
    	<th>
    </tr>


    <tr class='colorRows field-list-source notranslate field-list-source-hide ui-widget-content field-list-on-click-view' field-key='' field-list-view="ticket.Relations.show">
        <td nowrap class='field-meta-put field-list-on-click-view ' field-relation-delayed field-key='allowed_groups'>

            <span class='field-meta-put field-list-on-click-view' field-relation-delayed field-key='allowed_groups'>
                    <span class='field-list-source field-list-source-hide tooltip-activate notranslate ticket-sharing-group  ' field-key='allowed_groups'>
                        <span  class='field-put tooltip' field-key='allowed_groups.name'>...</span>
                    </span>
            </span>

            <span class='field-meta-put field-list-on-click-view' field-relation-delayed field-key='allowed_users'>
                <span class='field-list-source field-list-source-hide tooltip-activate notranslate ticket-sharing-user' field-key='allowed_users'>
                    <span  class='field-put tooltip' field-key='allowed_users.name'>...</span>
                </span>
            </span>

        <td class='field-put field-list-on-click-view' field-key='title' >
        <td class='field-put field-list-on-click-view' field-key='invoice.customer_nr' >
        <td class='field-put field-list-on-click-view' field-key='desc' style='white-space: pre-wrap'>
        <td >
            <div class='field-put field-list-source notranslate field-list-source-hide' field-key='emails'>
                <span class='field-list-on-click-view field-put' field-key='emails.email' >
            </div>
        <td >
            <div class='field-put field-list-source notranslate field-list-source-hide' field-key='phones'>
                <span class='field-list-on-click-view field-put' field-key='phones.phone' >
            </div>

    	<td class='control-on-click-del ui-icon ui-icon-trash'>
    </tr>

</table>

<div class='floatingBar viewErrorClass'>
    <button class='control-on-click-view' control-view='ticket.Relations.edit' field-key='title' >Create new relation</button>
    <span class='viewErrorText'></span>
</div>
