
<script>


var relation=new ControlForm({
    'view'            : view,
    'class'           : 'ticket.Relations',
    'get_params'      : view.params,
    'title'           : 'View relation {title}',
    'favorite_menu'   : 'relations',
    'favorite_title'  : '{title}',
    'on_change'       : 'get',
    'create_view_params': view.params,
    'context'         : '.relation',
    'get_result': function(result){

        var deligated_users=[];
        $.extend(deligated_users, result.data.allowed_users);
        var i=deligated_users.indexOf(session.user_id);
        if (i!=-1)
            deligated_users.splice(i,1);


        var tickets=new ControlListRelated({
            'view'              : view,
            'context'           : '.tickets',
            'class'             : 'ticket.Tickets',
            'endless_scrolling' : true,
            'related_key'       : 'relations',
            'related_value'     : view.params._id,
            'create_view_params': {
                'relations': [ view.params._id ],
                'deligated_users': deligated_users,
                'allowed_groups': result.data.allowed_groups
            }
        });

        var invoices=new ControlListRelated({
            'view'              : view,
            'get_meta_params'   : {},
            'context'           : '.invoices',
            'class'             : 'ticket.Invoices',
            'endless_scrolling' : true,
            'related_key'       : 'to_relation',
            'related_value'     : view.params._id,
            'create_view_params': {
                'to_relation': view.params._id,
                'allowed_users': result.data.allowed_users,
                'allowed_groups': result.data.allowed_groups
            }
        });

        $(".ticket-object-add-links", context).off('click').on('click',".on-click-new-ticket-time", function()
        {
            viewCreate({ creator: context },
            {
                name: 'ticket.TicketObjects.edit',
                mode: 'main',
                params: {
                    ticket_id: view.params._id,
                    type: 'time',
                    billing_relation: view.params._id,
                    billing_contract: $(this).attr("contract-id"),
                    allowed_users: result.data.allowed_users,
                    allowed_groups: result.data.allowed_groups
                }
            });
            return(false);
        });
    },
    'field_put': function(result)
    {
        //remove old time links
        $(".on-click-new-ticket-time",context).remove();

    }
});


//create links to add time for each active contract
$('.field-list-source[field-key="contracts"]', context).on("field_list_post_put", function(e, list_element, data)
{
    var span;

    //only add if not exists yet
    span=$('.ticket-object-add-links [contract-id="'+data._id+'"]', context);
    if (span.length==0)
    {
        span=$("<a class='notranslate ticket-add-time-link-style on-click-new-ticket-time' href='#'></a> ");
        $(".ticket-object-add-links",context).append(span);
        span.attr("contract-id",data._id);
    }

    span.text(data.title);
});

var contract_budgets=new ControlList({
    'view'              : view,
    'context'           : '.contract-budgets',
    'class'             : 'ticket.ContractInvoices',
    'get'               : 'ticket.ContractInvoices.get_budgets',
    'on_delete'         : 'get',
    'endless_scrolling' : false,
    'get_params'        : {
        'relation_id': view.params._id
    },
});

$(".contract-budgets .field-list-source", context).data("field-list-view-params", {
    relation_id: view.params._id,
});



$(context).subscribe("ticket.TicketObjects.changed","budgets", function()
{
    contract_budgets.get({ list_update: true, show_changes:true });
});

$(context).subscribe("ticket.TicketObjects.deleted","budgets", function()
{
    contract_budgets.get({ list_update: true, show_changes:true });
});



var tickets_objects=new ControlList({
    'view'              : view,
    'context'           : '.ticket-objects',
    'class'             : 'ticket.TicketObjects',
    'endless_scrolling' : true,
    'get_params'        : {
        'match': {
            'billing_relation': view.params._id,
        }
    },
    'create_view_params': {
        'relation_id': view.params._id 
    }
});


</script>

<div control-view="ticket.Relations.edit" class='relation'>

    <h1 class='field-put control-on-click-view' field-key='title' field-meta-key='desc'></h1>

    <fieldset class='inline-block' >
        <legend class='field-meta-put control-on-click-view' field-key='desc' field-meta-key='desc'></legend>
        <div class='field-put control-on-click-view' field-key='desc' style='white-space: pre-wrap'>
        </div>
    </fieldset>


    <fieldset class='inline-block'>
        <legend class='field-meta-put control-on-click-view' field-key='emails' field-meta-key='desc'></legend>
        <table >
            <tbody class=''>
                <tr class='field-put field-list-source notranslate field-list-source-hide' field-key='emails'>
                    <td class='field-put control-on-click-view value' field-key='emails.email'>
                    <td class='field-put control-on-click-view value' field-key='emails.desc'>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <fieldset class='inline-block'>
        <legend class='field-meta-put control-on-click-view' field-key='phones' field-meta-key='desc'></legend>
        <table >
            <tbody class=''>
                <tr class='field-put field-list-source notranslate field-list-source-hide' field-key='phones'>
                    <td class='field-put control-on-click-view value' field-key='phones.phone'>
                    <td class='field-put control-on-click-view value' field-key='phones.desc'>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <fieldset class='inline-block'>
        <legend class='control-on-click-view' field-key='contracts'>Active contracts</legend>
        <table class='field-meta-put' field-key='contracts' >
            <tr class='field-put field-list-source notranslate field-list-source-hide' field-key='contracts' field-list-view='ticket.Contracts.edit'>
                <td class='field-put field-list-on-click-view value' field-key='contracts.title'>
            </tr>
        </table>
    </fieldset>

    <fieldset class='inline-block'>
    <legend class='ticket-sharing-permissions'>Sharing</legend>
        <table >
            <tr class='field-meta-put ' field-key='allowed_users'>
                <td class='field-meta-put control-on-click-view' field-key='allowed_users' field-meta-key='desc'>
                <td>:
                    <span class='field-list-source field-list-source-hide' field-key='allowed_users' field-list-view="core.Users.edit">
                        <span class='list-span field-put field-list-on-click-view' field-key='allowed_users.name'></span>
                    </span>
            </tr>

            <tr class='field-meta-put'  field-key='allowed_groups'>
                <td class='field-meta-put control-on-click-view' field-key='allowed_groups' field-meta-key='desc'>
                <td>:
                    <span class='field-list-source field-list-source-hide' field-key='allowed_groups' field-list-view="core.Groups.edit">
                        <span class='list-span field-put field-list-on-click-view' field-key='allowed_groups.name'></span>
                    </span>
            </tr>
        </table>
    </fieldset>

    <div class='floatingBar viewErrorClass'>
        <button class='control-on-click-view' >Edit</button>
        <button class='control-on-click-cancel' >Back</button>
        <span class='viewErrorText'></span>
    </div>


</div>

<br>

<fieldset class='inline-block'>
    <legend>Tasks</legend>

    <div class='tickets inline-block' style='overflow: auto; height:20em; max-width:50em'>

        <span class="ui-icon ui-icon-search" style='display:inline-block'></span>
        <input type='text' class='control-on-change-search control-default-focus control-on-enter-view' control-search-keys='title desc'>
        <span control-view='ticket.Tickets.edit' class='control-on-click-view ui-icon ui-icon-plus inline-block'></span>


        <table >
            <tr class='ui-widget-header'>
                <th>
                <th class='control-on-click-order control-order-asc' field-key='ticket_completed'>
                <th>
                <th class='field-meta-put control-on-click-order' field-key='title' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order' field-key='start_date' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order control-order-asc' field-key='due_date' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order control-order-desc' field-key='ticket_priority' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order' field-key='ticket_status' field-meta-key='desc'>
                <th>
            </tr>

            <tr class='colorRows field-list-source notranslate field-list-source-hide ui-widget-content' field-list-class='ticket.Tickets' field-key='' field-list-view="ticket.Tickets.edit">
                <td class='field-list-on-click-view ticket-show-button-style' field-list-view="ticket.Tickets.show">&nbsp;

                <td class='field-put control-list-on-click-edit ticket-check-style' field-key='ticket_completed' field-no-text>

                <td nowrap class='field-meta-put field-list-on-click-view' field-relation-delayed field-key='allowed_groups'>

                    <span class='field-meta-put field-list-on-click-view' field-relation-delayed field-key='allowed_groups'>
                            <span class='field-list-source field-list-source-hide tooltip-activate notranslate ticket-sharing-group  ' field-key='allowed_groups'>
                                <span  class='field-put tooltip' field-key='allowed_groups.name'>...</span>
                            </span>
                    </span>

                    <span class='field-meta-put field-list-on-click-view' field-relation-delayed field-key='deligated_users'>
                        <span class='field-list-source field-list-source-hide tooltip-activate notranslate ticket-sharing-deligated' field-key='deligated_users'>
                            <span  class='field-put tooltip' field-key='deligated_users.name'>...</span>
                        </span>
                    </span>



                <td class='field-put control-list-on-click-edit' field-key='title' >
                <td class='field-put control-list-on-click-edit' field-key='start_date' nowrap>
                <td class='field-put control-list-on-click-edit' field-key='due_date' nowrap>
                <td class='field-put control-list-on-click-edit' field-key='ticket_priority' nowrap>
                <td class='field-put control-list-on-click-edit' field-key='ticket_status' nowrap>

                <td class='control-on-click-del ui-icon ui-icon-trash'>
            </tr>

        </table>
    </div>
</fieldset>

<fieldset class='inline-block' >
    <legend>Latest work</legend>

    <div class='ticket-objects inline-block' style='overflow: auto; height:20em; width: 50em'>
        <span class="ui-icon ui-icon-search" style='display:inline-block'></span>
        <input type='text' class='control-on-change-search' control-search-keys='title text'>

        <span class='ticket-object-add-links'>
        </span>

        <table>
            <tr class='ui-widget-header'>

                <th class='ticket-sharing-permissions'>
                <th class='field-meta-put control-on-click-order control-order-desc' field-key='create_time' field-meta-key='desc' >
                <th colspan=1>Time
                <th>
            </tr>

            <tr class='colorRows ticket-object field-list-source notranslate field-list-add-after field-list-source-hide ui-widget-content' field-key='' field-list-view="ticket.TicketObjects.edit">
                <td nowrap class='field-meta-put field-list-on-click-view ' field-relation-delayed field-key='allowed_groups'>

                    <span class='field-meta-put field-list-on-click-view' field-relation-delayed field-key='allowed_groups'>
                            <span class='field-list-source field-list-source-hide tooltip-activate notranslate ticket-sharing-group  ' field-key='allowed_groups'>
                                <span  class='field-put tooltip' field-key='allowed_groups.name'>...</span>
                            </span>
                    </span>

                    <span class='field-meta-put field-list-on-click-view' field-relation-delayed field-key='allowed_users'>
                        <span class='field-list-source field-list-source-hide tooltip-activate notranslate ticket-sharing-user' field-key='allowed_users'>
                            <span  class='field-put tooltip' field-key='allowed_users.name'>...</span>
                        </span>
                    </span>

                <td class='field-list-on-click-view field-put' field-key='create_time' nowrap field-timestamp-allow-time>


                <td class='field-list-on-click-view field-put' field-key='minutes'>


                <td>
                    <div class='field-list-on-click-view field-put' field-key='title' style='font-weight:bold'></div>
                    <div class='field-list-on-click-view field-put' field-key='text' style='white-space: pre-wrap'></div>


            </tr>
        </table>

    </div>
</fieldset>

<br>

<fieldset class='invoices inline-block' style='overflow: auto; height:15em;' view-role="finance_read">
    <legend>Invoices</legend>

    <div class='inline-block'>

        <span class="ui-icon ui-icon-search" style='display:inline-block'></span>
        <input type='text' class='control-on-change-search' control-search-keys='notes invoice_nr'>
        <a control-view='ticket.Invoices.edit' class='control-on-click-view' href='#'>Create new invoice</a>
     
        <table >
            <tr class='ui-widget-header'>
                <th>
                <th class='ticket-sharing-permissions'>
                <th class='field-meta-put control-on-click-order control-order-asc' field-key='sent' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order control-order-asc' field-key='payed' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order control-order-desc' field-key='sent_date' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order' field-key='invoice_nr' field-meta-key='desc'>
            </tr>


            <tr class='colorRows field-list-source notranslate  field-list-source-hide ui-widget-content' field-key='' field-list-view="ticket.Invoices.show">
                <td class='field-list-on-click-view show-button-style' field-list-view="ticket.Invoices.show">&nbsp;
                <td nowrap field-list-view="ticket.Invoices.edit" class='field-meta-put field-list-on-click-view ' field-relation-delayed field-key='allowed_groups'>

                    <span field-list-view="ticket.Invoices.edit" class='field-meta-put field-list-on-click-view' field-relation-delayed field-key='allowed_groups'>
                            <span class='field-list-source field-list-source-hide tooltip-activate notranslate ticket-sharing-group  ' field-key='allowed_groups'>
                                <span  class='field-put tooltip' field-key='allowed_groups.name'>...</span>
                            </span>
                    </span>

                    <span field-list-view="ticket.Invoices.edit" class='field-meta-put field-list-on-click-view' field-relation-delayed field-key='allowed_users'>
                        <span class='field-list-source field-list-source-hide tooltip-activate notranslate ticket-sharing-user' field-key='allowed_users'>
                            <span  class='field-put tooltip' field-key='allowed_users.name'>...</span>
                        </span>
                    </span>

                <td class='field-put field-list-on-click-view' field-key='sent' >
                <td class='field-put field-list-on-click-view' field-key='payed' >
                <td class='field-put field-list-on-click-view' field-key='sent_date' >
                <td class='field-put field-list-on-click-view' field-key='invoice_nr' >

            </tr>

        </table>

    </div>
</fieldset>



<fieldset class='inline-block' >
    <legend>Contract budgets</legend>

    <div class='contract-budgets inline-block' style='overflow: auto; height:15em;'>

     
        <table >
            <tr class='ui-widget-header'>
                <th class='field-meta-put control-on-click-order' field-key='contract_title' field-meta-key='desc'>
                <th class='control-on-click-order' field-key='minutes_balance' field-meta-key='desc'>Minutes
            </tr>


            <tr class='colorRows field-list-source notranslate field-list-source-hide ui-widget-content field-list-on-click-view' field-key='' field-list-view="ticket.ContractInvoices.list">
                <td class='field-put ' field-key='contract_title' >
                <td class='field-put' field-key='minutes_balance' >

            </tr>

        </table>

    </div>
</fieldset>



