
<script>

var form=new ControlForm({
    'view'            : view,
    'context'		  : 
    'class'           : 'example.Groups',
    'default_focus'   : ['name'],
    'title'           : 'Edit group {name}',
    'title_new'       : 'New group',
    'favorite_menu'   : 'example'
});
0
new ControlList({
    'view'            	: view,
    'get_params'		: {
    	'key_in': {
    		'group_ids': view.params._id
    	}
    }
    'class'        		: 'example.Members',
    'title'           	: 'members of this group',
    'endless_scrolling'	: true,
});


</script>

<table>
	<tr>
		<td class='field-meta-put' field-key='name' field-meta-key='desc'>
		<td class='field-meta-put' field-key='name'>
	</tr>
</table>


<div class='floatingBar viewErrorClass'>
	<button class='control-on-click-save' >Save</button>
	<button class='control-on-click-del control-hide-on-new' >Delete</button>
	<button class='control-on-click-cancel' >Cancel</button>
	<span class='viewErrorText'></span>
</div>
