
<script>

new ControlForm({
    'view'            : view,
    'context'         : '.group',
    'class'           : 'example.Groups',
    'get_params'      : view.params,
    'default_focus'   : ['name'],
    'title'           : 'Edit group {name}',
    'title_new'       : 'New group',
    'favorite_menu'   : 'example'
});

new ControlListRelated({
    'view'            	: view,
    'context'           : '.members',
    'class'        		: 'example.Members',
    'endless_scrolling'	: true,
    'related_key'       : 'group_ids2',
    'related_value'     : view.params._id,
    'unrelate_confirm'  : 'Do you want to remove {name} from this group?'
});


</script>

<fieldset class='group'>
    <legend>Group settings</legend>
    <table>
    	<tr>
    		<td class='field-meta-put' field-key='name' field-meta-key='desc'>
    		<td class='field-meta-put' field-key='name'>
    	</tr>
    </table>
    <div class='viewErrorClass'>
        <button class='control-on-click-save' >Save</button>
        <button class='control-on-click-del control-hide-on-new' >Delete</button>
        <button class='control-on-click-cancel' >Cancel</button>
        <span class='viewErrorText'></span>
    </div>
</fieldset>

<fieldset class='members'>
    <legend>Members of this group</legend>
    <table >
        <tr class='ui-widget-header'>
            <th class='field-meta-put control-on-click-order control-order-asc' field-key='name' field-meta-key='desc'>
            <th>
        </tr>

        <tr class='colorRows field-list-source ui-widget-content' field-key='' field-list-view="example.Members.edit">
            <td class='field-list-on-click-view field-put' field-key='name' >
            <td >
            <td class='control-on-click-unrelate ui-icon ui-icon-minus'>
        </tr>
    </table>
</fieldset>


