/*
	Global CSS stuff. Stuff that specifies how the screen and menu layouts look.
	Do not put view specific stuff in here, use view.css instead.

*/

.colorRows 
{
       background: #EFE;
}

.colorRows:nth-child(2n-1)
{
       background: #DFD;
}



#viewMenu
{
}



/* A main menu item */
.menuMain
{
	display:block;
	cursor: pointer;
	
}

/* Title of a main menu item */
.menuMainTitle
{
	padding-left: 1em;
	padding-right: 1em;
	border-width:1px;
	border-style:solid;
	border-color:#eeeeee;
}

.menuMainTitle:hover
{
	background: #dddddd;
}

/* Contains submenu items that belong to the main menu */
.menuMainSubs
{
	border-width: 2px;
	border-style: solid;
	border-color: #bbbbbb;
	padding-left: .5em;
	padding-right: .5em;
	margin-left: 1em;
	background: #eeeeee;
	cursor: pointer;
}

/* A sub menu item */
.menuSub
{
	
}

/* A favorite item in a submenu */
.menuFavorite
{
	font-size: small;	
}

.menuSub:hover
{
	background: #dddddd;
}

/* A menu seperator */
.menuSeperator
{
	border-width:1px;
	border-style:solid;
	margin:10px;
	padding:0px;
	
}


.viewTitle
{
	display:inline;	
	cursor: default;
	color: black;
	font-weight: bold;
}

.viewTitleHistory
{
	cursor: pointer;
	color: blue;
	font-weight: normal;	
}

.viewMain
{
	
}




.log
{
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;	
}


.debug
{
	border-width:1px;
	border-style:solid;
	background:#ffeeee;
	margin:2px;
}


.floatingBar
{
	position: fixed;
	left: 8em;
	right: 0em;
	bottom:0em;
	background: #ffffff;
	padding-top:0.5em;
	padding-left:1em;
	border-width:2px;
	border-top-color:white;
	border-top-style:solid;
	padding-right:1em;
	opacity: .80	;
}

.floatingBar *
{
	float:right;
}


