

.autoClickEdit:hover, .autoClickDel:hover
{
}

.autoClickEdit, .autoClickDel
{
	cursor:pointer;
}


.autoHtml_multiselect
{
	border-left-width: 1px;
	border-left-style: solid;
	margin-right:1em;
	border-color: #aaaaaa;
}

.autoHtml_rights_admin
{
	color: red;
}

.autoHtml_active_True
{
}

.autoHtml_active_False
{
	color:red;
	
}

.autoSortPlaceholder 
{
	height: 4em;
}

.autoListSource
{
	background: #DDD  !important;
}



.autoHtml_logType_info
{
	padding-left:1em;
	padding-right:1em;
}

.autoHtml_logType_error
{
	background-color: red;
	color:white;
	padding-left:1em;
	padding-right:1em;
}

.autoHtml_logType_warning
{
	background-color: yellow;
	color: black;
	padding-left:1em;
	padding-right:1em;
}

