

.templateOnClickEdit:hover, .templateOnClickDel:hover
{
}

.templateOnClickEdit, .templateOnClickDel, .templateOnClickAdd
{
	cursor:pointer;
}

.templateOnDragSort
{
	cursor:row-resize;
}

.templateOnClickOrder
{
	cursor:pointer;
	background-image: url("../icons/order.png");
	background-repeat:no-repeat;
	background-position: right center;
	padding-right: 16px;
	
	
}

.templateOrderAsc
{
	background-image: url("../icons/orderAsc.png");
}

.templateOrderDesc
{
	background-image: url("../icons/orderDesc.png");
}

.templateSortPlaceholder 
{
	height: 4em;
}


.autoHtml_multiselect
{
	border-left-width: 1px;
	border-left-style: solid;
	margin-right:1em;
	border-color: #aaaaaa;
}

.autoHtml_rights_admin
{
	color: red;
}

.autoHtml_active_True
{
}

.autoHtml_active_False
{
	color:red;
	
}

.autoListSource
{
	background: #DDD  !important;
}

.autoListHide
{
	display: none;
}



.autoHtml_logType_info
{
	padding-left:1em;
	padding-right:1em;
}

.autoHtml_logType_error
{
	background-color: red;
	color:white;
	padding-left:1em;
	padding-right:1em;
}

.autoHtml_logType_warning
{
	background-color: yellow;
	color: black;
	padding-left:1em;
	padding-right:1em;
}

.value
{
	border-width: 1px;
	border-bottom-style: dashed;
}


.autoProgramError
{
	background-color: #ff0000;
	color: #ffffff;
	
}