<script>
    var list_source_element=$(".field-list-source:first", context);

	var meta;
	
	var debugTxt=view.id+" "+view.name+" ";

	//(re)load the menu
	$(context).subscribe("menu_reload", "menu", function(params)
	{
		if (meta==undefined)
			return;
		
		rpc(
			"webui.Menu.get",
			{},
			function (result)
			{
				viewShowError(result, context)
                Field[meta.type].put('', meta, list_source_element, result["data"], { 
                    'list_update':params.update,
                    'show_changes':params.update
                } );

			},
			debugTxt+"menu reload data"
			);

		return(false);
	});

	/* add/update a 'favorite' to the specified menu. automaticly keeps count of most used items.
     Look in Menu.py for more info.
    */
    $(context).subscribe("menu_put_favorite", "menu", function(params)
    {
        rpc(
            "webui.Menu.put_favorite",
            params,
            function(result)
            {
                $.publish("menu_reload", {update: true});
            },
            debugTxt+"menu adding favorite"
        );
    
		return(false);
    });

    $(context).subscribe("menu_delete_favorite", "menu", function(params)
    {   
        rpc(
            "webui.Menu.delete_favorite",
            params,
            function(result)
            {
                $.publish("menu_reload", {update: true});
            },
            debugTxt+"menu deleting favorite"
        );
    
		return(false);
    });


	//a menu item was clicked:
	$('.field-dict-raw', context).click(function(event)
	{
		if ($(this).data("field-data").view==null)
            return(true);

		//create the view
		var view={};
		$.extend( view, $(this).data("field-data").view);
		view.x=event.clientX;
		view.y=event.clientY;
		// if (view.highlight)
		// 	delete view.highlight;

		if (view.mode=='main')
			viewCreate({clear:true},view);
		else
			viewCreate({clear:false},view);

        return (false);
			
	});

	//get menu metadata
	rpc(
		"webui.Menu.get_meta",
		{},
		function (result)
		{
			meta=result.data;
			$.publish("menu_reload", { update: false });
		},
		debugTxt+"menu getting meta data"
	);


	//////////////////// visual design stuff:
	
	//a main menu was clicked:
	$('.menuMain', context).click(function(event)
	{
		if ($(this).hasClass("menuMain_Active"))
			return;

		$(".menuMain",context).removeClass("menuMain_Active");
		$(".menuMain",context).addClass("menuMain_Passive");

		$(this).addClass("menuMain_Active");
		$(this).removeClass("menuMain_Passive");
		
		$(".menuMainSubs",context).hide(100);
		$(".menuMainSubs",this).show(100);
	});
	$(".menuMainSubs",context).hide();

</script>


<div class='viewError'></div>
<div>
	<div class='field-put field-list-source field-list-source-hide menuMain menuMain_Passive field-dict-raw' field-key=''>
		<div class='menuMainTitle' >
			<span class='ui-icon ui-icon-triangle-1-e menuMain_ActiveHide' style='display:inline-block; '></span>
			<span class='ui-icon ui-icon-triangle-1-s menuMain_PassiveHide' style='display:inline-block;'></span>
			<span class='field-put' field-key='title'></span>
		</div>
		<div class='menuMainSubs'>
			<div class='field-put field-list-source field-list-source-hide field-dict-raw menuSub' field-key='items' >
				<div class='field-put' field-key='items.title' ></div>
			</div>
			<div class='menuSeperator'></div>
			<div class='field-put field-list-source notranslate field-list-source-hide field-dict-raw menuFavorite' field-key='favorites'>
				<div class='field-put' field-key='favorites.title'></div>
			</div>
		</div>
	</div>
</div>


