<script>
	var context=$("#"+view.id);

	var meta;
	
	var debugTxt=view.id+" "+view.name+" ";

	//(re)load the menu
	$(document).on("menu.reload", function(event, params)
	{
		rpc(
			"webui.Menu.get",
			{},
			function (result)
			{
				viewShowError(result, context)
                Field[meta.type].put('', meta, context, result["data"], { 
                    'list_update':params.update,
                    'show_changes':params.update
                } );

			},
			debugTxt+"menu reload data"
			);
	});

	/* add/update a 'favorite' to the specified menu. automaticly keeps count of most used items.
     Look in Menu.py for more info.
    */
    $(document).on("menu.put_favorite", function(event, params)
            {
                rpc(
                    "webui.Menu.put_favorite",
                    params,
                    function(result)
                    {
                        $(document).trigger("menu.reload", {update: true});
                    },
                    debugTxt+"menu adding favorite"
                );
            
            });

    $(document).on("menu.delete_favorite", function(event, params)
            {
                rpc(
                    "webui.Menu.delete_favorite",
                    params,
                    function(result)
                    {
                        $(document).trigger("menu.reload", {update: true});
                    },
                    debugTxt+"menu adding favorite"
                );
            
            });


	//a menu item was clicked:
	$('.field-dict-raw', context).click(function(event)
	{
		console.log("data ",this, $(this).data("field-data"));

		//create the view
		var view={};
		$.extend( view, $(this).data("field-data").view);
		view.x=event.clientX;
		view.y=event.clientY;
		if (view.highlight)
			delete view.highlight;

		if (view.mode=='main')
			viewCreate({clear:true},view);
		else
			viewCreate({clear:false},view);
			
	});

	//get menu metadata
	rpc(
		"webui.Menu.get_meta",
		{},
		function (result)
		{
			meta=result.data;
			$(document).trigger("menu.reload", { update: false });
		},
		debugTxt+"menu getting meta data"
	);


	//////////////////// visual design stuff:
	
	//a main menu was clicked:
	$('.menuMain', context).click(function(event)
	{
		if ($(this).hasClass("menuMain_Active"))
			return;

		$(".menuMain",context).removeClass("menuMain_Active");
		$(".menuMain",context).addClass("menuMain_Passive");

		$(this).addClass("menuMain_Active");
		$(this).removeClass("menuMain_Passive");
		
		$(".menuMainSubs",context).hide(100);
		$(".menuMainSubs",this).show(100);
	});
	$(".menuMainSubs",context).hide();

</script>


<div class='viewError'></div>
<div>
	<div class='field-put field-list-source field-list-source-hide menuMain menuMain_Passive' field-key='main'>
		<div class='menuMainTitle' >
			<span class='ui-icon ui-icon-triangle-1-e menuMain_ActiveHide' style='float:left'></span>
			<span class='ui-icon ui-icon-triangle-1-s menuMain_PassiveHide' style='float:left'></span>
			<span class='field-put' field-key='main.title'></span>
		</div>
		<div class='menuMainSubs'>
			<div class='field-put field-list-source field-list-source-hide field-dict-raw menuSub' field-key='main.items' >
				<div class='field-put' field-key='main.items.title' ></div>
			</div>
			<div class='field-put field-list-source field-list-source-hide field-dict-raw menuFavorite' field-key='main.favorites' >
				<div class='field-put' field-key='main.favorites.title'></div>
			</div>
		</div>
	</div>
</div>


