<script>
	var context=$("#"+view.id);

	var meta;
	
	var debugTxt=view.id+" "+view.name+" ";

	//(re)load the menu
	$(document).on("menu.reload", function(event, params)
	{
		rpc(
			"webui.Menu.get",
			{},
			function (result)
			{
				viewShowError(result, context)
				Field.Dict.input_put('', meta, context, result["data"], { 
					'update':true 
				} );
			},
			debugTxt+"menu reload data"
			);
	});

	/* add a 'favorite' to the specified menu. automaticly keeps count of most used items.
	parameters:
	{
		'menu':		"users",
		'desc':		"Wijzig "+result.data.username,
		'view':		(view parameters, look at viewCreate in view.js)}
	*/
	$(document).on("menu.add_favorite", function(event, params)
			{
				rpc(
					"webui.Menu.add_favorite",
					params,
					function(result)
					{
						$(document).trigger("menu.reload");
					},
					debugTxt+"menu adding favorite"
				);
			
			});


	//a menu item was clicked:
	$('[_data]', context).click(function(event)
	{
//		console.log("data ",this, $(this).data("_data"));

		//create the view
		var view={};
		$.extend( view, $(this).data("_data").view);
		view.x=event.clientX;
		view.y=event.clientY;
		if (view.highlight)
			delete view.highlight;

		if (view.mode=='main')
			viewCreate({clear:true},view);
		else
			viewCreate({clear:false},view);
			
	});

	//get menu metadata
	rpc(
		"webui.Menu.get_meta",
		{},
		function (result)
		{
			meta=result.data;
			$(document).trigger("menu.reload");
		},
		debugTxt+"menu getting meta data"
	);


	//////////////////// visual design stuff:
	
	//a main menu was clicked:
	$('.menuMain', context).click(function(event)
	{
		if ($(this).hasClass("menuMain_Active"))
			return;

		$(".menuMain",context).removeClass("menuMain_Active");
		$(".menuMain",context).addClass("menuMain_Passive");

		$(this).addClass("menuMain_Active");
		$(this).removeClass("menuMain_Passive");
		
		$(".menuMainSubs",context).hide(100);
		$(".menuMainSubs",this).show(100);
	});
	$(".menuMainSubs",context).hide();

</script>


<div class='viewError'></div>
<div>
	<div class='field-input-put autoListHide menuMain menuMain_Passive' field-key='main'>
		<div class='menuMainTitle' >
			<span class='ui-icon ui-icon-triangle-1-e menuMain_ActiveHide' style='float:left'></span>
			<span class='ui-icon ui-icon-triangle-1-s menuMain_PassiveHide' style='float:left'></span>
			<span class='field-input-put' field-key='main.title' _html></span>
		</div>
		<div class='menuMainSubs'>
			<div class='field-input-put menuSub autoListHide ' field-key='main.items' _data>
				<div class='field-input-put' field-key='main.items.title' _html  ></div>
			</div>
			<div class='field-input-put menuFavorite autoListHide ' field-key='main.favorites' _data>
				<div class='field-input-put' field-key='main.favorites.title' _html  ></div>
			</div>
		</div>
	</div>
</div>


