
<script>

var form=new ControlForm({
    'view'            : view,
    'class'           : 'ticket.TicketObjects',
    'get_params'      : { '_id': view.params._id },
    'default_focus'   : 'title',
    'title'           : 'Edit ticket item {title}',
    'title_new'       : 'New ticket item',
    'favorite_menu'   : 'ticket',
    'default'         : { 
        'allowed_users': [ session.user_id ],
        'tickets': [ view.params.ticket_id ]
    }
});

</script>


<table>
	<tr>
		<td class='field-meta-put' field-key='title' field-meta-key='desc'>
		<td><input  class='field-put field-get field-input' field-key='title' size=100>
	</tr>
    <tr>
        <td class='field-meta-put' field-key='text' field-meta-key='desc'>
        <td><textarea class='field-put field-get field-input' field-key='text' cols=80 rows=10></textarea>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='type' field-meta-key='desc'>
        <td class='field-meta-put' field-key='type'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='billing_relation' field-meta-key='desc'>
        <td class='field-meta-put' field-key='billing_relation'>
            <span class='list-span field-list-source field-list-source-hide' field-key='billing_relation' field-list-view="ticket.Relations.edit">
                <span class='field-put field-list-on-click-view' field-key='billing_relation.title'></span>
                <span class='inline-block field-list-on-click-del ui-icon ui-icon-minus'></span>
            </span>
            <input  class='field-relation-on-change-autocomplete' search-keys='title' result-format='{title}' size=10/>
            <span style='display:inline-block' class='field-relation-on-click-add ui-icon ui-icon-plus'></span>
            <br>
            <a class='field-list-on-click-view' field-key='title' href='#'>Create new relation</a>
    </tr>

</table>

<fieldset class='inline-block'>
    <legend class='field-meta-put' field-key='tickets' field-meta-key='desc'></legend>
    <table class='field-meta-put' field-key='tickets'>
        <tr class='ui-widget-header'>
            <th class='field-meta-put' field-key='tickets.title' field-meta-key='desc'>
            <th>
        </tr>

        <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='tickets' field-list-view="ticket.Tickets.edit">
            <td class='field-put field-list-on-click-view' field-key='tickets.title'>
            <td class='field-list-on-click-del ui-icon ui-icon-minus'>
        </tr>
        <tr class='ui-widget-content'>
            <td><input class='field-relation-on-change-autocomplete' search-keys='name fullname' result-format='{fullname}' />
            <td class='field-relation-on-click-add ui-icon ui-icon-plus'>
        </tr>
        <tr>
            <td colspan=2 class='field-list-on-click-view' field-key='name'> <a href='#'>Create new user</a>
        </tr>
    </table>
</fieldset>


<fieldset style='display:block;'>
<legend>Sharing</legend>

    <fieldset style='display:inline-block;'>
        <legend class='field-meta-put' field-key='allowed_users' field-meta-key='desc'></legend>
        <table class='field-meta-put' field-key='allowed_users'>
            <tr class='ui-widget-header'>
                <th class='field-meta-put' field-key='allowed_users.name' field-meta-key='desc'>
                <th>
            </tr>

            <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='allowed_users' field-list-view="core.Users.edit">
                <td class='field-put field-list-on-click-view' field-key='allowed_users.fullname'>
                <td class='field-list-on-click-del ui-icon ui-icon-minus'>
            </tr>
            <tr class='ui-widget-content'>
                <td><input class='field-relation-on-change-autocomplete' search-keys='name fullname' result-format='{fullname}' />
                <td class='field-relation-on-click-add ui-icon ui-icon-plus'>
            </tr>
            <tr>
                <td colspan=2 class='field-list-on-click-view' field-key='name'> <a href='#'>Create new user</a>
            </tr>
        </table>
    </fieldset>

    <fieldset style='display:inline-block;'>
        <legend class='field-meta-put' field-key='allowed_groups' field-meta-key='desc'></legend>
        <table class='field-meta-put' field-key='allowed_groups'>
            <tr class='ui-widget-header'>
                <th class='field-meta-put' field-key='allowed_groups.name' field-meta-key='desc'>
                <th>
            </tr>

            <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='allowed_groups' field-list-view="core.Groups.edit">
                <td class='field-put field-list-on-click-view' field-key='allowed_groups.name'>
                <td class='field-list-on-click-del ui-icon ui-icon-minus'>
            </tr>
            <tr class='ui-widget-content'>
                <td><input class='field-relation-on-change-autocomplete' search-keys='name' result-format='{name}' />
                <td class='field-relation-on-click-add ui-icon ui-icon-plus'>
            </tr>
            <tr>
                <td colspan=2 class='field-list-on-click-view' field-key='name'> <a href='#'>Create new group</a>
            </tr>
        </table>
    </fieldset>

</fieldset>


<div class='floatingBar viewErrorClass'>
	<button class='control-on-click-save' >Save</button>
	<button class='control-on-click-del control-hide-on-new' >Delete</button>
	<button class='control-on-click-cancel' >Cancel</button>
	<span class='viewErrorText'></span>
</div>
