
<script>

var form=new ControlForm({
    'view'            : view,
    'class'           : 'ticket.TicketObjects',
    'get_params'      : { '_id': view.params._id },
    'default_focus'   : 'title',
    'title'           : 'Edit ticket note {title}',
    'title_new'       : 'New ticket note',
    // 'favorite_menu'   : 'ticket',
    'default'         : { 
        'allowed_users': [ session.user_id ],
        'tickets': [ view.params.ticket_id ],
        'create_time': new Date().getTime()/1000,
        'start_time': new Date().getTime()/1000,
        'end_time': new Date().getTime()/1000

    },
    'get_result': function(result)
    {
        $(".show-on", context).hide();
        if (result.data)
        {
            $(".show-on-"+result.data['type'], context).show();
            var delta=result.data.end_time-result.data.start_time;
            $('.delta',context).text(delta/60);
        }

        $(context).on('field_changed', '[field-key="type"]',function(e, key, meta, element, data)
        {
            $(".show-on", context).hide();
            $(".show-on-"+data, context).show();
        });

        //calculate worked minutes
        $(context).on('field_changed', '[field-key="start_time"], [field-key="end_time"]',function(e, key, meta, element, data)
        {
            var form_data=form.field_get();
            if (form_data.end_time && form_data.start_time)
            {
                var delta=form_data.end_time-form_data.start_time;
                $('.delta',context).text(delta/60);
            }
        });
       
    }
});


</script>


<table class='inline-block'>
    <tr>
        <td class='field-meta-put' field-key='type' field-meta-key='desc'>
        <td class='field-meta-put' field-key='type'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='create_time' field-meta-key='desc'>
        <td class='field-meta-put' field-key='create_time' field-timestamp-allow-time>
    </tr>
    <tr class='show-on show-on-phone show-on-email'>
        <td class='field-meta-put' field-key='from' field-meta-key='desc'>
        <td class='field-meta-put' field-key='from'>
    </tr>
    <tr class='show-on show-on-phone show-on-email'>
        <td class='field-meta-put' field-key='to' field-meta-key='desc'>
        <td class='field-meta-put' field-key='to'>
    </tr>
	<tr>
		<td class='field-meta-put' field-key='title' field-meta-key='desc'>
		<td class='field-meta-put' field-key='title'>
	</tr>
    <tr>
        <td class='field-meta-put' field-key='text' field-meta-key='desc'>
        <td><textarea class='field-put field-get field-input' field-key='text' cols=80 rows=10></textarea>
    </tr>

</table>

<fieldset class='inline-block'>
    <legend class='field-meta-put' field-key='tickets' field-meta-key='desc'></legend>
    <table class='field-meta-put' field-key='tickets'>
        <tr class='ui-widget-header'>
            <th class='field-meta-put' field-key='tickets.title' field-meta-key='desc'>
            <th>
        </tr>

        <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='tickets' field-list-view="ticket.Tickets.edit">
            <td class='field-put field-list-on-click-view' field-key='tickets.title'>
            <td class='field-list-on-click-del ui-icon ui-icon-minus'>
        </tr>
        <tr class='ui-widget-content'>
            <td><input class='field-relation-on-change-autocomplete' search-keys='title desc' result-format='{title}' />
            <td class='field-relation-on-click-add ui-icon ui-icon-plus'>
        </tr>
        <tr>
            <td colspan=2 class='field-list-on-click-view' field-key='name'> <a href='#'>Create new task</a>
        </tr>
    </table>
</fieldset>


<fieldset class='inline-block'>
    <legend>Billing</legend>
    <table class='inline-block'>
        <tr>
            <td class='field-meta-put' field-key='billing_relation' field-meta-key='desc'>
            <td class='field-meta-put' field-key='billing_relation'>
                <span class='list-span field-list-source field-list-source-hide' field-key='billing_relation' field-list-view="ticket.Relations.edit">
                    <span class='field-put field-list-on-click-view' field-key='billing_relation.title'></span>
                    <span class='inline-block field-list-on-click-del ui-icon ui-icon-minus'></span>
                </span>
                <input  class='field-relation-on-change-autocomplete' search-keys='title' result-format='{title}' size=10/>
                <span style='display:inline-block' class='field-relation-on-click-add ui-icon ui-icon-plus'></span>
                <br>
                <a class='field-list-on-click-view' field-key='title' href='#'>Create new relation</a>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='start_time' field-meta-key='desc'>
            <td class='field-meta-put' field-key='start_time' field-timestamp-allow-time>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='end_time' field-meta-key='desc'>
            <td class='field-meta-put' field-key='end_time' field-timestamp-allow-time>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='minutes' field-meta-key='desc'>
            <td>
                <span class='field-meta-put' field-key='minutes' ></span> 
                ( <span class='delta'></span> )
        </tr>
        </table>
</fieldset>



<fieldset class='inline-block'>
<legend>Sharing</legend>

    <fieldset style='display:inline-block;'>
        <legend class='field-meta-put' field-key='allowed_users' field-meta-key='desc'></legend>
        <table class='field-meta-put' field-key='allowed_users'>
            <tr class='ui-widget-header'>
                <th class='field-meta-put' field-key='allowed_users.name' field-meta-key='desc'>
                <th>
            </tr>

            <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='allowed_users' field-list-view="core.Users.edit">
                <td class='field-put field-list-on-click-view' field-key='allowed_users.fullname'>
                <td class='field-list-on-click-del ui-icon ui-icon-minus'>
            </tr>
            <tr class='ui-widget-content'>
                <td><input class='field-relation-on-change-autocomplete' search-keys='name fullname' result-format='{fullname}' />
                <td class='field-relation-on-click-add ui-icon ui-icon-plus'>
            </tr>
            <tr>
                <td colspan=2 class='field-list-on-click-view' field-key='name'> <a href='#'>Create new user</a>
            </tr>
        </table>
    </fieldset>

    <fieldset style='display:inline-block;'>
        <legend class='field-meta-put' field-key='allowed_groups' field-meta-key='desc'></legend>
        <table class='field-meta-put' field-key='allowed_groups'>
            <tr class='ui-widget-header'>
                <th class='field-meta-put' field-key='allowed_groups.name' field-meta-key='desc'>
                <th>
            </tr>

            <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='allowed_groups' field-list-view="core.Groups.edit">
                <td class='field-put field-list-on-click-view' field-key='allowed_groups.name'>
                <td class='field-list-on-click-del ui-icon ui-icon-minus'>
            </tr>
            <tr class='ui-widget-content'>
                <td><input class='field-relation-on-change-autocomplete' search-keys='name' result-format='{name}' />
                <td class='field-relation-on-click-add ui-icon ui-icon-plus'>
            </tr>
            <tr>
                <td colspan=2 class='field-list-on-click-view' field-key='name'> <a href='#'>Create new group</a>
            </tr>
        </table>
    </fieldset>

</fieldset>


<div class='floatingBar viewErrorClass'>
	<button class='control-on-click-save' >Save</button>
	<button class='control-on-click-del control-hide-on-new' >Delete</button>
	<button class='control-on-click-cancel' >Cancel</button>
	<span class='viewErrorText'></span>
</div>
