
<script>
    new ControlList({
        'view'            	: view,
        'class'        		: 'ticket.TicketObjects',
        'get_params'        : view.params,
        'title'           	: 'Documents and ticket notes',
        'endless_scrolling'	: true,
    });

</script>


<div class='floatingBar' >
<span class="ui-icon ui-icon-search" style='display:inline-block'></span>
<input type='text' class='control-on-change-search control-default-focus' control-search-keys='title text'>
</div>

<table>
    <tr class='ui-widget-header '>
        <th>
        <th class='field-meta-put control-on-click-order control-order-desc' field-key='create_time' field-meta-key='desc' >
        <th>
    </tr>

    <tr class='colorRows ticket-object field-list-source notranslate field-list-add-after field-list-source-hide ui-widget-content' field-key='' field-list-view="ticket.TicketObjects.edit">

        <td><img style='padding-bottom: 1em' class='field-list-on-click-view  field-put' src='#' field-key='thumbnail'>

        <td class='field-list-on-click-view field-put' field-key='create_time' nowrap field-timestamp-allow-time>





        <td>
            <div class='field-list-on-click-view field-put' field-key='title' style='font-weight:bold'></div>
            <div class='field-list-on-click-view field-put' field-key='text' style='white-space: pre-wrap'></div>


    </tr>
</table>


