
<script>
    new ControlList({
        'view'            	: view,
        'class'        		: 'example.Recurse',
        'get_params'        : view.params,
        'title'           	: 'Recursive demo list',
        'endless_scrolling'	: true,
        'favorite_menu'     : 'example',
    });

</script>


<table >
    <tr class='ui-widget-header'>
    	<th class='field-meta-put control-on-click-order control-order-asc' field-key='name' field-meta-key='desc'>
        <th class='field-meta-put' field-key='item_ids' field-meta-key='desc'>
    	<th>
    </tr>

    <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='' field-list-view="example.Recurse.edit">
    	<td class='field-put field-list-on-click-view' field-key='name' >(create new item)
        <td >
            <table class='field-meta-put' field-key='item_ids'>

                <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='item_ids' field-list-view="example.Recurse.edit">
                    <td class='field-put field-list-on-click-view' field-key='item_ids.name'>
                </tr>
            </table>


    	<td class='control-on-click-del ui-icon ui-icon-trash'>
    </tr>
    <tr>
        <td colspan=6><a class='field-list-on-click-view' field-key='name' href='#'>Create new</a>
    </tr>
</table>

