
<script>

var form=new ControlForm({
    'view'            : view,
    'class'           : 'example.Members',
    'get_params'      : view.params,
    'default_focus'   : 'name',
    'title'           : 'Edit member {name}',
    'title_new'       : 'New member',
    'favorite_menu'   : 'example',
});

</script>

<p>This form demonstrates how to add a member to multiple groups. A member can point to multiple groups. This is actually a N:N relation.
<p>We demonstrate relations that are resolved server side and client side. (group_ids and group_ids2)

<fieldset style='display:inline-block;'>
    <table>
    	<tr>
    		<td class='field-meta-put' field-key='name' field-meta-key='desc'>
    		<td class='field-meta-put' field-key='name'>
    	</tr>
    </table>
</fieldset>

<fieldset>
    <legend>Groups this member belongs to</legend>
    <fieldset style='display:inline-block;'>
        <legend class='field-meta-put' field-key='group_ids' field-meta-key='desc'></legend>
        <table class='field-meta-put' field-key='group_ids'>
            <tr class='ui-widget-header'>
                <th class='field-meta-put' field-key='group_ids.name' field-meta-key='desc'>
                <th>
            </tr>

            <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='group_ids' field-list-view="example.Groups.edit">
                <td class='field-put field-list-on-click-view' field-key='group_ids.name'>
                <td class='field-list-on-click-del ui-icon ui-icon-minus'>
            </tr>
            <tr class='ui-widget-content'>
                <td><input class='field-relation-on-change-autocomplete' search-keys='name' result-format='{name} ({_id})' />
                <td class='field-relation-on-click-add ui-icon ui-icon-plus'>
            </tr>
            <tr>
                <td colspan=2 class='field-list-on-click-view' field-key='group_ids.name'> <a href='#'>Create new group</a>
            </tr>
        </table>
    </fieldset>

    <fieldset style='display:inline-block;'>
        <legend class='field-meta-put' field-key='group_ids2' field-meta-key='desc'></legend>
        <table class='field-meta-put' field-key='group_ids2'>
            <tr class='ui-widget-header'>
                <th class='field-meta-put' field-key='group_ids2.name' field-meta-key='desc'>
                <th>
            </tr>

            <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='group_ids2' field-list-view="example.Groups.edit">
                <td class='field-put field-list-on-click-view' field-key='group_ids2.name'>
                <td class='field-list-on-click-del ui-icon ui-icon-minus'>
            </tr>
            <tr class='ui-widget-content'>
                <td><input class='field-relation-on-change-autocomplete' search-keys='name' result-format='{name} ({_id})' />
                <td class='field-relation-on-click-add ui-icon ui-icon-plus'>
            </tr>
            <tr>
                <td colspan=2 class='field-list-on-click-view' field-key='group_ids2.name'> <a href='#'>Create new group</a>
            </tr>
        </table>
    </fieldset>


    <fieldset style='display:inline-block;' class='field-meta-put' field-key='group_id'>
        <legend class='field-meta-put' field-key='group_id' field-meta-key='desc'></legend>
        <table class='field-list-source field-list-source-hide' field-key='group_id' field-list-view="example.Groups.edit">
            <tr>
                <td class='field-meta-put' field-key='group_id.name' field-meta-key='desc'>
                <td class='value field-put field-list-on-click-view' field-key='group_id.name'>
                <td class='field-list-on-click-del ui-icon ui-icon-minus'>
            </tr>
        </table>

        <input  class='field-relation-on-change-autocomplete' search-keys='name' result-format='{name} ({_id})' />
        <span style='display:inline-block' class='field-relation-on-click-add ui-icon ui-icon-plus'></span>
        <br>
        <a class='field-list-on-click-view' field-key='group_id.name' href='#'>Create new group</a>
    </fieldset>

    <fieldset style='display:inline-block;' class='field-meta-put' field-key='group_id2'>
        <legend class='field-meta-put' field-key='group_id2' field-meta-key='desc'></legend>
        <table class='field-list-source field-list-source-hide' field-key='group_id2' field-list-view="example.Groups.edit">
            <tr>
                <td class='field-meta-put' field-key='group_id2.name' field-meta-key='desc'>
                <td class='value field-put field-list-on-click-view' field-key='group_id2.name'>
                <td class='field-list-on-click-del ui-icon ui-icon-minus'>
            </tr>
        </table>

        <input  class='field-relation-on-change-autocomplete' search-keys='name' result-format='{name} ({_id})' />
        <span style='display:inline-block' class='field-relation-on-click-add ui-icon ui-icon-plus'></span>
        <br>
        <a class='field-list-on-click-view' field-key='group_id2.name' href='#'>Create new group</a>
    </fieldset>
</fieldset>

<fieldset>
    <legend>List of items which also point to groups</legend>
    <table >
        <thead >
            <tr class='field-meta-put ui-widget-header' field-key='group_list'>
                <td>
                <td class='field-meta-put' field-key='group_list.relation_name' field-meta-key='desc'>
                <td>
                <td>
            </tr>
        </thead>
        <tbody>
            <tr class='colorRows field-meta-put field-list-source field-list-sortable ui-widget-content' field-key='group_list'  >
                <td class='field-list-on-drag-sort ui-icon ui-icon-arrowthick-2-n-s'> 
                <td class='field-meta-put field-list-on-focus-add' field-key='group_list.relation_name'>
                <td>
                    <table class='field-meta-put field-list-on-focus-add' field-key='group_list.group_ids2'>
                        <tr class='ui-widget-header'>
                            <th class='field-meta-put' field-key='group_list.group_ids2.name' field-meta-key='desc'>
                            <th>
                        </tr>

                        <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='group_list.group_ids2' field-list-view="example.Groups.edit">
                            <td class='field-put field-list-on-click-view' field-key='group_list.group_ids2.name'>
                            <td class='field-list-on-click-del ui-icon ui-icon-minus'>
                        </tr>
                        <tr class='ui-widget-content'>
                            <td><input class='field-relation-on-change-autocomplete ' search-keys='name' result-format='{name} ({_id})' />
                            <td class='field-relation-on-click-add ui-icon ui-icon-plus'>
                        </tr>
                        <tr>
                            <td colspan=2 class='field-list-on-click-view' field-key='group_list.group_ids2.name'> <a href='#'>Create new group</a>
                        </tr>
                    </table>
                <td class='field-list-on-click-del ui-icon ui-icon-trash'>
                <td class='field-list-on-click-add ui-icon ui-icon-plus'>
            </tr>
        </tbody>
    </table>
</fieldset>



<div class='floatingBar viewErrorClass'>
	<button class='control-on-click-save' >Save</button>
	<button class='control-on-click-del control-hide-on-new' >Delete</button>
	<button class='control-on-click-cancel' >Cancel</button>
	<span class='viewErrorText'></span>
</div>
