
<script>
    new ControlList({
        'view'            	: view,
        'class'        		: 'example.Members',
        'title'           	: 'members demo overview',
        'endless_scrolling'	: true,
        'favorite_menu'     : 'example',
    });

</script>


<table >
    <tr class='ui-widget-header'>
    	<th class='field-meta-put control-on-click-order control-order-asc' field-key='name' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order control-order-asc' field-key='group_ids2' field-meta-key='desc'>
    	<th>
    </tr>

    <tr class='colorRows field-list-source ui-widget-content' field-key='' field-list-view="example.Members.edit">
    	<td class='field-list-on-click-view field-put' field-key='name' >
        <td >
            <table class='field-meta-put field-list-on-click-view' field-key='group_ids2'>

                <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='group_ids2'>
                    <td class='field-put' field-key='group_ids2.name'>(create new)
                </tr>
            </table>


    	<td class='control-on-click-del ui-icon ui-icon-trash'>
    </tr>
</table>

