
<script>
    new ControlList({
        'view'            	: view,
        'class'        		: 'example.Members',
        'title'           	: 'members demo overview',
        'endless_scrolling'	: true,
        'favorite_menu'     : 'example',
        'edit_view'       : {
            name: 	'example.Members.edit',
            mode: 	'main',
            params: { }
        }
    });

</script>


<table >
    <tr class='ui-widget-header'>
    	<th class='field-meta-put control-on-click-order control-order-asc' field-key='name' field-meta-key='desc'>
    	<th>
    </tr>

    <tr class='colorRows field-list-source ui-widget-content' field-key=''>
    	<td class='control-on-click-edit field-put' field-key='name' >
    	<td class='control-on-click-del ui-icon ui-icon-trash'>
    </tr>
</table>

