
<script>

var form=new ControlForm({
    'view'            : view,
    'class'           : 'example.FieldDemo',
    'default_focus'   : ['stringTest'],
    'title'           : 'Edit demo {stringTest}',
    'title_new'       : 'New demo item',
    'favorite_menu'   : 'example'
});


//test button to fill the database with random stuff quickly to test autoscrolling
$(".on-click-filler", "#"+view.id).click(function(){
	var context="#"+view.id;
	var txt=$('.field-get[field-key="stringTest"]', context).val();
	delete view.params._id;
	for(var i=0; i<50; i++)
	{
		$('.field-get[field-key="stringTest"]', context).val(txt+" "+i);
		form.put();
	}
});


</script>

<p>If you clicked the 'gray row' in the list, you're creating a new item. Otherwise you're editting an existing item.</p>

<p>Notice how the favorites in the menu will be updated in realtime. (the menu actually has its own model and view)</p>

<p>Also notice how the changed fields will be highlighted in the list, once you save the form. (or delete the item)</p>

<p>All input validation and error checking will be done by the model, which will throw an exception if something is wrong. This exception is presented to the user as a nice highlighted field with the corresponding message. (try to fill in a string in the number field for example)</p>

<p>Logging also will be done by the model, but the rpc-system will make sure the end-user sees these log messages as well, providing valuable feedback.</p>

<p>Try refreshing the page, or pressing your browsers back and forward button. This all should work as expected by the user.</p>

<fieldset style='display:inline-block;'>
	<legend>Basic fields</legend>
	<table>
		<tr>
			<td class='field-meta-put' field-key='stringTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='stringTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='multiselectTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='multiselectTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='passwordTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='passwordTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='booleanTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='booleanTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='numberIntTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='numberIntTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='numberFloatTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='numberFloatTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='selectTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='selectTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='timestampTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='timestampTest' >
		</tr>
	</table>
</fieldset>

<fieldset style='display:inline-block;' >
	<p>(this timestamp field allows time as well, this is decided at the GUI-side, not in the model.)
	<legend>Basic fields in a Dict</legend>
	<table>
		<tr>
			<td class='field-meta-put' field-key='dictTest.stringTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='dictTest.stringTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='dictTest.multiselectTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='dictTest.multiselectTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='dictTest.passwordTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='dictTest.passwordTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='dictTest.booleanTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='dictTest.booleanTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='dictTest.numberIntTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='dictTest.numberIntTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='dictTest.numberFloatTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='dictTest.numberFloatTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='dictTest.selectTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='dictTest.selectTest'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='dictTest.timestampTest' field-meta-key='desc'>
			<td class='field-meta-put' field-key='dictTest.timestampTest' field-timestamp-allow-time>
		</tr>
	</table>
</fieldset>

<fieldset  style='display:inline-block;' >
	<legend>Basic fields in a List</legend>
	<p>This list is completely dynamic: the user can add, delete and move rows. New rows are added by focussing a field in the 'gray row'. Notice this is all client side: The data will only be send to the server once the user clicks save.</p>
	<table >
		<thead >
			<tr class='field-meta-put ui-widget-header' field-key='listTest'>
				<td>
				<td class='field-meta-put' field-key='listTest.stringTest' field-meta-key='desc'>
				<td class='field-meta-put' field-key='listTest.multiselectTest' field-meta-key='desc'>
				<td class='field-meta-put' field-key='listTest.passwordTest' field-meta-key='desc'>
				<td class='field-meta-put' field-key='listTest.booleanTest' field-meta-key='desc'>
				<td class='field-meta-put' field-key='listTest.numberIntTest' field-meta-key='desc'>
				<td class='field-meta-put' field-key='listTest.numberFloatTest' field-meta-key='desc'>
				<td class='field-meta-put' field-key='listTest.selectTest' field-meta-key='desc'>
				<td class='field-meta-put' field-key='listTest.timestampTest' field-meta-key='desc'>
				<td>
				<td>
			</tr>
		</thead>
		<tbody class='control-list-sortable'>
			<tr class='colorRows field-meta-put field-list-source ui-widget-content' field-key='listTest'  >
				<td class='control-on-drag-sort ui-icon ui-icon-arrowthick-2-n-s'> 
				<td class='field-meta-put field-list-on-focus-add' field-key='listTest.stringTest'>
				<td class='field-meta-put field-list-on-focus-add' field-key='listTest.multiselectTest'>
				<td class='field-meta-put field-list-on-focus-add' field-key='listTest.passwordTest'>
				<td class='field-meta-put field-list-on-focus-add' field-key='listTest.booleanTest'>
				<td class='field-meta-put field-list-on-focus-add' field-key='listTest.numberIntTest'>
				<td class='field-meta-put field-list-on-focus-add' field-key='listTest.numberFloatTest'>
				<td class='field-meta-put field-list-on-focus-add' field-key='listTest.selectTest'>
				<td class='field-meta-put field-list-on-focus-add' field-key='listTest.timestampTest'>
				<td class='field-list-on-click-del ui-icon ui-icon-trash'>
				<td class='field-list-on-click-add ui-icon ui-icon-plus'>
			</tr>
		</tbody>
	</table>
</fieldset>


<div class='floatingBar viewErrorClass'>
	<button class='control-on-click-save' >Save</button>
	<button class='control-on-click-del control-hide-on-new' >Delete</button>
	<button class='control-on-click-cancel' >Cancel</button>
	<button class='on-click-filler' >Clone 50 times</button>
	<span class='viewErrorText'></span>
</div>
