
<script>
    new ControlList({
        'view'            	: view,
	    'get_params'      : {
	    	'sleep': view.params.sleep,
	    	'limit': view.params.limit
	    },
        'class'        		: 'example.FieldDemo',
        'title'           	: 'field demo overview',
        'endless_scrolling'	: true,
        'favorite_menu'     : 'example',
    });


    if (view.params.inplace)
    {
    	$(".field-list-on-click-view", context).removeClass("field-list-on-click-view").addClass("control-list-on-click-edit");
    }

</script>

<p>This is an advanced example that shows all the possible basic field types, including a nested Dict and List field.</p>

<p>Click on a field to go to the edit form. The clicked field will be automaticly focussed.</p>

<p>If this list gets too long, the system will automatically perform 'endless scrolling'</p>

<p>The browsers back/forward button will be working in a consistent way. Its also possible to refresh the whole page, or to bookmark it. (try it while editting a form for example)</p>

<p>For the special Relation-field look in the member/group demo and recursive demo.

<p>

<span class="ui-icon ui-icon-search" style='display:inline-block'></span>
<input type='text' class='control-on-change-search control-default-focus' control-search-keys='stringTest numberIntTest numberFloatTest dictTest.stringTest listTest.stringTest dictTest.numberIntTest dictTest.numberFloatTest listTest.numberIntTest listTest.numberFloatTest'>
(searches in all the string and number fields)


<table >
<tr class='ui-widget-header'>
	<th class='field-meta-put control-on-click-order control-order-asc' field-key='stringTest' field-meta-key='desc'>
	<th class='field-meta-put control-on-click-order' field-key='multiselectTest' field-meta-key='desc'>
	<th class='field-meta-put control-on-click-order' field-key='passwordTest' field-meta-key='desc'>
	<th class='field-meta-put control-on-click-order' field-key='booleanTest' field-meta-key='desc'>
	<th class='field-meta-put control-on-click-order' field-key='numberIntTest' field-meta-key='desc'>
	<th class='field-meta-put control-on-click-order' field-key='numberFloatTest' field-meta-key='desc'>
	<th class='field-meta-put control-on-click-order' field-key='selectTest' field-meta-key='desc'>
	<th class='field-meta-put control-on-click-order' field-key='timestampTest' field-meta-key='desc'>
	<th class='field-meta-put control-on-click-order' field-key='dictTest' field-meta-key='desc'>
	<th class='field-meta-put control-on-click-order' field-key='listTest' field-meta-key='desc'>
	<th>
</tr>

<tr>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='stringTest' field-allow-null>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='multiselectTest' field-allow-null filter-in>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='passwordTest' field-allow-null>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='booleanTest' field-allow-null filter-match>

    <td class='control-on-filter-highlight'>
        <div class='field-meta-put control-on-change-filter' field-key='numberIntTest' field-allow-null filter-match></div>

    <td class='control-on-filter-highlight'>
        From <div class='field-meta-put control-on-change-filter' field-key='numberFloatTest' filter-gte field-allow-null></div>
        to <div class='field-meta-put control-on-change-filter' field-key='numberFloatTest' filter-lte field-allow-null></div>

    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='selectTest' field-allow-null filter-match>

    <td class='control-on-filter-highlight'>
        From <div class='field-meta-put control-on-change-filter' field-key='timestampTest' filter-gte field-allow-null></div>
        to <div class='field-meta-put control-on-change-filter' field-key='timestampTest' filter-lte field-allow-null></div>

    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='dictTest.stringTest' field-allow-null>

    <td class='field-meta-put control-on-filter-highlight' field-key='listTest'>
        <span class='field-meta-put control-on-change-filter' field-key='listTest.stringTest' field-allow-null></span>
    <td>    
</tr>

<tr class='colorRows field-list-source-hide field-list-source ui-widget-content' field-list-view='example.FieldDemo.edit' field-key=''>
	<td class='field-list-on-click-view field-put' field-key='stringTest' >
	<td class='field-list-on-click-view field-put' field-key='multiselectTest' >
	<td class='field-list-on-click-view field-put' field-key='passwordTest' >
	<td class='field-list-on-click-view field-put' field-key='booleanTest' >
	<td class='field-list-on-click-view field-put' field-key='numberIntTest' >
	<td class='field-list-on-click-view field-put' field-key='numberFloatTest' >
	<td class='field-list-on-click-view field-put' field-key='selectTest' >
	<td class='field-list-on-click-view field-put' field-key='timestampTest' >
	<td>
		<ul>
			<li class='field-list-on-click-view field-put' field-key='dictTest.stringTest' >
			<li class='field-list-on-click-view field-put' field-key='dictTest.multiselectTest' >
			<li class='field-list-on-click-view field-put' field-key='dictTest.passwordTest' >
			<li class='field-list-on-click-view field-put' field-key='dictTest.booleanTest' >
			<li class='field-list-on-click-view field-put' field-key='dictTest.numberIntTest' >
			<li class='field-list-on-click-view field-put' field-key='dictTest.numberFloatTest' >
			<li class='field-list-on-click-view field-put' field-key='dictTest.selectTest' >
			<li class='field-list-on-click-view field-put' field-key='dictTest.timestampTest' >
		</ul>
	<td>
		<table>
			<tr class='field-put field-list-source field-list-source-hide' field-key='listTest'>
				<td class='field-list-on-click-view field-put' field-key='listTest.stringTest' >
				<td class='field-list-on-click-view field-put' field-key='listTest.multiselectTest' >
				<td class='field-list-on-click-view field-put' field-key='listTest.passwordTest' >
				<td class='field-list-on-click-view field-put' field-key='listTest.booleanTest' >
				<td class='field-list-on-click-view field-put' field-key='listTest.numberIntTest' >
				<td class='field-list-on-click-view field-put' field-key='listTest.numberFloatTest' >
				<td class='field-list-on-click-view field-put' field-key='listTest.selectTest' >
				<td class='field-list-on-click-view field-put' field-key='listTest.timestampTest' >
			</tr>
		</table>
	<td class='control-on-click-del ui-icon ui-icon-trash'>
</tr>

<tr>
    <td colspan=6><a class='field-list-on-click-view' field-key='name' href='#'>Create new item</a>
</tr>


</table>




<div class='floatingBar viewErrorClass'>
	<button class='control-on-click-view' control-view='example.FieldDemo.edit'>Add</button>
</div>
