
<script>
    new ControlList({
        'view'            : view,
        'class'           : 'example.FieldDemo',
        'title'           : 'field demo overview',
        'edit_view'       : {
            name: 'example.FieldDemo.edit',
            mode: 'main',
            params: view.params
        }
    });

</script>

<p>This is an advanced example that shows all the possible field types, including a nested Dict and List field.</p>

<p>Click on a field to go to the edit form. The clicked field will be automaticly focussed.</p>

<p>If this list gets too long, the system will automatically perform 'endless scrolling'</p>

<p>The browsers back/forward button will be working in a consistent way. Its also possible to refresh the whole page, or to bookmark it. (try it while editting a form for example)</p>

<table >
<tr class='ui-widget-header'>
	<th class='field-meta-put controlOnClickOrder controlOrderAsc' field-key='stringTest' field-meta-key='desc'>
	<th class='field-meta-put controlOnClickOrder' field-key='multiselectTest' field-meta-key='desc'>
	<th class='field-meta-put controlOnClickOrder' field-key='passwordTest' field-meta-key='desc'>
	<th class='field-meta-put controlOnClickOrder' field-key='booleanTest' field-meta-key='desc'>
	<th class='field-meta-put controlOnClickOrder' field-key='numberIntTest' field-meta-key='desc'>
	<th class='field-meta-put controlOnClickOrder' field-key='numberFloatTest' field-meta-key='desc'>
	<th class='field-meta-put controlOnClickOrder' field-key='selectTest' field-meta-key='desc'>
	<th class='field-meta-put controlOnClickOrder' field-key='timestampTest' field-meta-key='desc'>
	<th class='field-meta-put controlOnClickOrder' field-key='dictTest' field-meta-key='desc'>
	<th class='field-meta-put controlOnClickOrder' field-key='listTest' field-meta-key='desc'>
	<th>
</tr>

<tr>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='stringTest' _allow_null>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='multiselectTest' _allow_null _filterIn>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='passwordTest' _allow_null>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='booleanTest' _allow_null _filterMatch>

    <td class='control-on-filter-highlight'>
        <div class='field-meta-put control-on-change-filter' field-key='numberIntTest' _filterMatch _allow_null></div>

    <td class='control-on-filter-highlight'>
        From <div class='field-meta-put control-on-change-filter' field-key='numberFloatTest' _filterGte _allow_null></div>
        to <div class='field-meta-put control-on-change-filter' field-key='numberFloatTest' _filterLte _allow_null></div>

    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='selectTest' _allow_null _filterMatch>

    <td class='control-on-filter-highlight'>
        From <div class='field-meta-put control-on-change-filter' field-key='timestampTest' _filterGte _allow_null></div>
        to <div class='field-meta-put control-on-change-filter' field-key='timestampTest' _filterLte _allow_null></div>

    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='dictTest.stringTest' _allow_null>
    <td class='field-meta-put' field-key='listTest'>
            <div class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='listTest.stringTest' _allow_null></div>
    <td>    
</tr>

<tr class='colorRows autoListSource ui-widget-content' _index='_id' >
	<td class='control-on-click-edit field-input-put' field-key='stringTest' _html>
	<td class='control-on-click-edit field-input-put' field-key='multiselectTest' _html>
	<td class='control-on-click-edit field-input-put' field-key='passwordTest' _html>
	<td class='control-on-click-edit field-input-put' field-key='booleanTest' _html>
	<td class='control-on-click-edit field-input-put' field-key='numberIntTest' _html>
	<td class='control-on-click-edit field-input-put' field-key='numberFloatTest' _html>
	<td class='control-on-click-edit field-input-put' field-key='selectTest' _html>
	<td class='control-on-click-edit field-input-put' field-key='timestampTest' _html>
	<td>
		<ul>
			<li class='control-on-click-edit field-input-put' field-key='dictTest.stringTest' _html>
			<li class='control-on-click-edit field-input-put' field-key='dictTest.multiselectTest' _html>
			<li class='control-on-click-edit field-input-put' field-key='dictTest.passwordTest' _html>
			<li class='control-on-click-edit field-input-put' field-key='dictTest.booleanTest' _html>
			<li class='control-on-click-edit field-input-put' field-key='dictTest.numberIntTest' _html>
			<li class='control-on-click-edit field-input-put' field-key='dictTest.numberFloatTest' _html>
			<li class='control-on-click-edit field-input-put' field-key='dictTest.selectTest' _html>
			<li class='control-on-click-edit field-input-put' field-key='dictTest.timestampTest' _html _allowTime>
		</ul>
	<td>
		<table class='field-input-put autoListSource autoListHide' field-key='listTest'>
			<td class='control-on-click-edit field-input-put' field-key='listTest.stringTest' _html>
			<td class='control-on-click-edit field-input-put' field-key='listTest.multiselectTest' _html>
			<td class='control-on-click-edit field-input-put' field-key='listTest.passwordTest' _html>
			<td class='control-on-click-edit field-input-put' field-key='listTest.booleanTest' _html>
			<td class='control-on-click-edit field-input-put' field-key='listTest.numberIntTest' _html>
			<td class='control-on-click-edit field-input-put' field-key='listTest.numberFloatTest' _html>
			<td class='control-on-click-edit field-input-put' field-key='listTest.selectTest' _html>
			<td class='control-on-click-edit field-input-put' field-key='listTest.timestampTest' _html>
		</table>
	<td class='control-on-click-del ui-icon ui-icon-trash'>
</tr>
</table>

