
<script>
		controlList({
		view		: view,
		getMeta		: 'example.FieldDemo.get_meta',
		getMetaParams	: view.params,
		getData		: 'example.FieldDemo.get_all',
		getDataParams	: view.params,
		delData		: 'example.FieldDemo.del',
		editView		: {
			name: 'example.FieldDemo.edit',
			mode: 'main',
			params: view.params
		},
		loadCallback	: function(result) {
			viewReady({
				view: view,
				title: "field demo overview"
			});
		},
		errorCallback	: function(result) { },
		saveCallback	: function(result) { }
	});
</script>

<table >
<tr class='ui-widget-header'>
	<th class='autoMeta controlOnClickOrder' _key='stringTest' _meta='desc'>
	<th class='autoMeta controlOnClickOrder' _key='multiselectTest' _meta='desc'>
	<th class='autoMeta controlOnClickOrder' _key='passwordTest' _meta='desc'>
	<th class='autoMeta controlOnClickOrder' _key='booleanTest' _meta='desc'>
	<th class='autoMeta controlOnClickOrder' _key='floatTest' _meta='desc'>
	<th class='autoMeta controlOnClickOrder' _key='integerTest' _meta='desc'>
	<th class='autoMeta controlOnClickOrder' _key='selectTest' _meta='desc'>
	<th class='autoMeta controlOnClickOrder' _key='dateTest' _meta='desc'>
	<th class='autoMeta controlOnClickOrder' _key='dictTest' _meta='desc'>
	<th class='autoMeta controlOnClickOrder' _key='listTest' _meta='desc'>
	<th>
</tr>

<tr>
	<td><input type='text' class='controlOnChangeFilter controlSetFocus' _key='stringTest'>
	<td>
	<td>
	<td>
	<td>
	<td>
	<td>
	<td>
	<td>
	<td>
</tr>

<tr class='colorRows autoListSource ui-widget-content' _index='_id' >
	<td class='controlOnClickEdit autoPut' _key='stringTest' _html>
	<td class='controlOnClickEdit autoPut' _key='multiselectTest' _html>
	<td class='controlOnClickEdit autoPut' _key='passwordTest' _html>
	<td class='controlOnClickEdit autoPut' _key='booleanTest' _html>
	<td class='controlOnClickEdit autoPut' _key='floatTest' _html>
	<td class='controlOnClickEdit autoPut' _key='integerTest' _html>
	<td class='controlOnClickEdit autoPut' _key='selectTest' _html>
	<td class='controlOnClickEdit autoPut' _key='dateTest' _html>
	<td class='autoPut' _key='dictTest'>
		<ul>
			<li class='controlOnClickEdit autoPut' _key='dictTest.stringTest' _html>
			<li class='controlOnClickEdit autoPut' _key='dictTest.multiselectTest' _html>
			<li class='controlOnClickEdit autoPut' _key='dictTest.passwordTest' _html>
			<li class='controlOnClickEdit autoPut' _key='dictTest.booleanTest' _html>
			<li class='controlOnClickEdit autoPut' _key='dictTest.floatTest' _html>
			<li class='controlOnClickEdit autoPut' _key='dictTest.integerTest' _html>
			<li class='controlOnClickEdit autoPut' _key='dictTest.selectTest' _html>
			<li class='controlOnClickEdit autoPut' _key='dictTest.dateTest' _html _allowTime>
		</ul>
	<td>
		<table class='autoPut autoListSource autoListHide' _key='listTest'>
			<td class='controlOnClickEdit autoPut' _key='listTest.stringTest' _html>
			<td class='controlOnClickEdit autoPut' _key='listTest.multiselectTest' _html>
			<td class='controlOnClickEdit autoPut' _key='listTest.passwordTest' _html>
			<td class='controlOnClickEdit autoPut' _key='listTest.booleanTest' _html>
			<td class='controlOnClickEdit autoPut' _key='listTest.floatTest' _html>
			<td class='controlOnClickEdit autoPut' _key='listTest.integerTest' _html>
			<td class='controlOnClickEdit autoPut' _key='listTest.selectTest' _html>
			<td class='controlOnClickEdit autoPut' _key='listTest.dateTest' _html>
		</table>
	<td class='controlOnClickDel ui-icon ui-icon-trash'>
</tr>
</table>

