/* 
	View specific CSS stuff. Stuff that happens INSIDE a view 

    Views usually have <style>-tags themselfs as well
*/


.control-on-click-del, .control-on-click-add, .field-list-on-click-view, .field-relation-on-click-add, .field-list-on-click-del, .control-on-click-view
{
	cursor:pointer;
}

.field-list-on-drag-sort
{
	cursor: pointer;
}


.control-on-click-order
{
	cursor:pointer;
	background-image: url("../icons/order.png");
	background-repeat:no-repeat;
	background-position: right center;
	padding-right: 16px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	
	
}


.control-order-asc
{
	background-image: url("../icons/orderAsc.png");
	border-color: black;
}

.control-order-desc
{
	background-image: url("../icons/orderDesc.png");
	border-color: black;
	border-style: solid;
}

.control-sort-placeholder 
{
	height: 4em;
}

.control-filter-highlight
{
	/* jquery ui-highligh coloros */
	background-color: #fbec88;
    border: 1px solid #C0B584;

	background-image: url("../icons/remove_filter.png");
	background-repeat:no-repeat;
	background-position: right center;
	padding-right:1em;
    cursor:  pointer;

}



/* one choice of a multiselect field */
.field-multiselect
{
	border-left-width: 1px;
	border-left-style: solid;
	margin-right:1em;
	border-color: #aaaaaa;
}

/* administrators */
.field-multiselect-rights-admin
{
	color: red;
}

.field-bool-active-true
{
}

.field-bool-active-false
{
	color:red;
	
}

.field-list-source
{
	background: #eeeeee  !important;
}

.field-list-source-hide
{
	display: none;
}


.list-span
{
	border-width: 1px;
	border-bottom-style: dashed;
    margin-right:0.5em;

}


.value
{
	border-width: 1px;
	border-bottom-style: dashed;
}

.inline-block
{
	display:inline-block;
	vertical-align: top;
}

.nowrap
{
	white-space: nowrap;

}
.autoProgramError
{
	background-color: #ff0000;
	color: #ffffff;
	
}


.ui-autocomplete-loading {
	background: white url('../icons/ui-anim_basic_16x16.gif') right center no-repeat;
}

.field-timestamp-quick {
	cursor: pointer;
}

.field-timestamp-quick:hover {
	background: #dddddd;

}


.field-select-ticket_status-next_action {
	font-weight: bold;
	color:#b57a15;
}

.ticket-completed .field-select-ticket_status-next_action {
	color: gray;
}

.field-select-ticket_status-none {
	color:gray;
}


.ticket-date-future
{
	color:#000;
}

.ticket-date-soon
{
	color:#600;
}

.ticket-date-now
{
	color:#600;
	font-weight:bold;
}

.ticket-date-late
{
	color:#900;
	font-weight:bold;
}


.ticket-completed
{
	text-decoration: strike-thourgh;
	color: gray;
}



.ticket-object .field-select-type-change
{
	background: url("../icons/pencil.png") left center no-repeat; 
	padding-left:20px;
}

.ticket-object .field-select-type-email
{
	background: url("../icons/email.png") left center no-repeat; 
	padding-left:20px;
}


.ticket-object .field-select-type-phone
{
	background: url("../icons/phone.png") left center no-repeat; 
	padding-left:20px;
}


.ticket-object .field-select-type-note
{
	background: url("../icons/note.png") left center no-repeat; 
	padding-left:20px;
}


.ticket-object .field-select-type-time
{
	background: url("../icons/clock.png") left center no-repeat; 
	padding-left:20px;
}

.ticket-object .field-select-type-doc
{
	background: url("../icons/page.png") left center no-repeat; 
	padding-left:20px;
}

.ticket-add-time-button-style
{
	background: url("../icons/clock.png") left center no-repeat; 
	padding-left:20px;
}

.ticket-add-note-button-style
{
	background: url("../icons/note.png") left center no-repeat; 
	padding-left:20px;
}


