/* 
	View specific CSS stuff. Stuff that happens INSIDE a view 
*/

.control-on-click-edit:hover, .control-on-click-del:hover
{
}

.control-on-click-edit, .control-on-click-del, .control-on-click-add
{
	cursor:pointer;
}

.control-on-drag-sort
{
	cursor:row-resize;
}

.control-on-click-order
{
	cursor:pointer;
	background-image: url("../icons/order.png");
	background-repeat:no-repeat;
	background-position: right center;
	padding-right: 16px;
	
	
}


.control-order-asc
{
	background-image: url("../icons/orderAsc.png");
}

.control-order-desc
{
	background-image: url("../icons/orderDesc.png");
}

.control-sort-placeholder 
{
	height: 4em;
}

.control-filter-highlight
{
    cursor:  pointer;
}

.autoHtml_MultiSelect
{
	border-left-width: 1px;
	border-left-style: solid;
	margin-right:1em;
	border-color: #aaaaaa;
}

.autoHtml_rights_admin
{
	color: red;
}

.autoHtml_active_True
{
}

.autoHtml_active_False
{
	color:red;
	
}

.field-list-source
{
	background: #DDD  !important;
}

.field-list-source-hide
{
	display: none;
}



.autoHtml_logType_info
{
	padding-left:1em;
	padding-right:1em;
}

.autoHtml_logType_error
{
	background-color: red;
	color:white;
	padding-left:1em;
	padding-right:1em;
}

.autoHtml_logType_warning
{
	background-color: yellow;
	color: black;
	padding-left:1em;
	padding-right:1em;
}

.value
{
	border-width: 1px;
	border-bottom-style: dashed;
}


.autoProgramError
{
	background-color: #ff0000;
	color: #ffffff;
	
}


