/* 
	View specific CSS stuff. Stuff that happens INSIDE a view 

    Views usually have <style>-tags themselfs as well
*/

.control-on-click-edit:hover, .control-on-click-del:hover
{
}

.control-on-click-edit, .control-on-click-del, .control-on-click-add, .field-list-on-click-view
{
	cursor:pointer;
}

.control-on-drag-sort
{
	cursor:row-resize;
}

.control-on-click-order
{
	cursor:pointer;
	background-image: url("../icons/order.png");
	background-repeat:no-repeat;
	background-position: right center;
	padding-right: 16px;
	
	
}


.control-order-asc
{
	background-image: url("../icons/orderAsc.png");
}

.control-order-desc
{
	background-image: url("../icons/orderDesc.png");
}

.control-sort-placeholder 
{
	height: 4em;
}

.control-filter-highlight
{
    cursor:  pointer;
}

/* one choice of a multiselect field */
.field-multiselect
{
	border-left-width: 1px;
	border-left-style: solid;
	margin-right:1em;
	border-color: #aaaaaa;
}

/* administrators */
.field-multiselect-rights-admin
{
	color: red;
}

.field-bool-active-true
{
}

.field-bool-active-false
{
	color:red;
	
}

.field-list-source
{
	background: #DDD  !important;
}

.field-list-source-hide
{
	display: none;
}




.value
{
	border-width: 1px;
	border-bottom-style: dashed;
}


.autoProgramError
{
	background-color: #ff0000;
	color: #ffffff;
	
}


  .ui-autocomplete-loading {
    background: white url('../icons/ui-anim_basic_16x16.gif') right center no-repeat;
  }
