
<script>


var form=new ControlForm({
    'view'            : view,
    'class'           : 'ticket.Invoices',
    'get_params'      : { '_id': view.params._id},
    'default_focus'   : 'title',
    'title'           : 'Edit invoice {invoice_nr}',
    'title_new'       : 'New invoice',
    // 'favorite_menu'   : 'invoices',
    // 'favorite_title'  : '{title} {invoice_nr}',
    'default'         : { 
        'allowed_users': view.params.allowed_users,
        'allowed_groups':view.params.allowed_groups,
        'to_relation': view.params.to_relation
    }
});

var calculating=false;
var changed=false;
function recalculate()
{
    //prevent queuing in case of slow links or servers
    if (calculating)
    {
        changed=true;
        return;
    }
    calculating=true;
    changed=false;

    rpc(    
        "ticket.Invoices.calc",
        form.field_get(),
        function(result)
        {
            calculating=false;
            if (!viewShowError(result, context, form.meta))
            {
                form.field_put(result.data, { 
                    list_update: true, 
                    list_no_remove: true,
                    list_no_add: true,
                    show_changes:true,
                    no_input: true,
                });
            }
            if (changed)
                recalculate();

        }
    );

};

var item_context=$('.field-list-source[field-key="items"]', context).parent();

//trigger recalculate on field change
$(item_context).on('field_changed', '[field-key="items.amount"], [field-key="items.price"], [field-key="items.tax"]',function(e, key, meta, element, data)
{
    recalculate();
});        

$(item_context).on('field_added field_deleted', '*', function()
{
    recalculate();
});

//change default tax
$(item_context).on('field_changed', '[field-key="items.tax"]',function(e, key, meta, element, data)
{
    $('.field-list-source .field-input[field-key="items.tax"]',context).val(data);
});



</script>



<fieldset class='inline-block'>
    <legend>Info</legend>        

    <table class='inline-block'>
        <tr>
            <td class='field-meta-put' field-key='title' field-meta-key='desc'>
            <td class='field-meta-put' field-key='title'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='to_relation' field-meta-key='desc'>
            <td class='field-meta-put' field-key='to_relation'>
                <span class='list-span field-dict-raw field-list-source notranslate field-list-source-hide' field-key='to_relation' field-list-view="ticket.Relations.show">
                    <span class='field-put field-list-on-click-view' field-key='to_relation.title' style='font-weight: bold'></span>
                    <span class='inline-block field-list-on-click-del ui-icon ui-icon-close'></span>
                </span>
                <input  class='field-relation-on-change-autocomplete' search-keys='title' result-format='{title}' size=10/>
                <span style='display:inline-block' class='field-relation-on-click-add ui-icon ui-icon-triangle-1-s'></span>
                <br>
                <a class='field-list-on-click-view' field-key='title' href='#'>Create new relation</a>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='currency' field-meta-key='desc'>
            <td class='field-meta-put' field-key='currency'>
        </tr>

        <tr>
            <td class='field-meta-put ticket-sharing-permissions' field-key='allowed_users' field-meta-key='desc'>
            <td class='field-meta-put field-key-root' field-key='allowed_users' >
                <span >
                    <span field-list-view="core.Users.edit" class='list-span-form field-list-source notranslate field-list-source-hide' field-key='allowed_users' >
                            <span class='ticket-sharing-user field-put field-list-on-click-view' field-key='allowed_users.name'></span>
                            <span class='field-list-on-click-del  ui-icon ui-icon-close'></span>
                    </span>
                    <span class='list-span-form'>
                        <input class='field-relation-on-change-autocomplete field-relation-on-click-add ' search-keys='name' result-format='{name}' sort-key='name' />
                        <span class='field-list-on-click-view ui-icon ui-icon-plus ' field-key='allowed_users.name'></span>
                    </span>
                </span>
        </tr>

        <tr>
            <td class='field-meta-put ticket-sharing-permissions' field-key='allowed_groups' field-meta-key='desc'>
            <td class='field-meta-put field-key-root' field-key='allowed_groups' >
                <span >
                    <span field-list-view="core.Groups.edit" class='list-span-form field-list-source notranslate field-list-source-hide' field-key='allowed_groups' >
                            <span class='ticket-sharing-group field-put field-list-on-click-view' field-key='allowed_groups.name'></span>
                            <span class='field-list-on-click-del  ui-icon ui-icon-close'></span>
                    </span>
                    <span class='list-span-form'>
                        <input class='field-relation-on-change-autocomplete field-relation-on-click-add ' search-keys='name' result-format='{name}' sort-key='name' />
                        <span class='field-list-on-click-view ui-icon ui-icon-plus ' field-key='allowed_groups.name'></span>
                    </span>
                </span>
        </tr>


    </table>



</fieldset>

<fieldset class='inline-block control-hide-on-new'>
    <legend>Status</legend>        
    <table class='inline-block'>
        <tr>
            <td class='field-meta-put' field-key='sent' field-meta-key='desc'>
            <td class='field-put value notranslate' field-key='sent'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='invoice_nr' field-meta-key='desc'>
            <td class='field-put value notranslate' field-key='invoice_nr'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='sent_date' field-meta-key='desc'>
            <td class='field-put value notranslate' field-key='sent_date'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='payed' field-meta-key='desc'>
            <td class='field-put value notranslate' field-key='payed'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='payed_date' field-meta-key='desc'>
            <td class='field-put value notranslate' field-key='payed_date'>
        </tr>
    </table>
</fieldset>



<fieldset>
    <legend class='field-meta-put' field-key='items' field-meta-key='desc'></legend>
    <table >
        <thead >
            <tr class='field-meta-put ui-widget-header' field-key='items'>
                <td>
                <td class='field-meta-put' field-key='items.amount' field-meta-key='desc'>
                <td class='field-meta-put' field-key='items.desc' field-meta-key='desc'>
                <td class='field-meta-put' field-key='items.price' field-meta-key='desc'>
                <td class='field-meta-put' field-key='items.tax' field-meta-key='desc'>
                <td class='field-meta-put' field-key='items.calc_total' field-meta-key='desc'>
                <td class='field-meta-put' field-key='items.calc_tax' field-meta-key='desc'>
                <td class='field-meta-put' field-key='items.calc_total_tax' field-meta-key='desc'>
                <td>
                <td>
            </tr>
        </thead>
        <tbody>
            <tr class='colorRows field-meta-put field-list-source notranslate field-list-sortable ui-widget-content' field-key='items'>
                <td class='field-list-on-drag-sort ui-icon ui-icon-arrowthick-2-n-s'> 
                <td class='field-meta-put field-list-on-focus-add' field-key='items.amount'>
                <td class='field-meta-put field-list-on-focus-add' field-key='items.desc'>
                <td class='field-meta-put field-list-on-focus-add' field-key='items.price'>
                <td class='field-meta-put field-list-on-focus-add' field-key='items.tax'>
                <td class='field-put' field-key='items.calc_total' style='text-align: right;'></td>
                <td class='field-put' field-key='items.calc_tax' style='text-align: right;'></td>
                <td class='field-put' field-key='items.calc_total_tax' style='text-align: right;'></td>
                <td class='field-list-on-click-del ui-icon ui-icon-trash'>
                <td class='field-list-on-click-add ui-icon ui-icon-triangle-1-s'>
            </tr>
            <tr>
                <td colspan=5>
                <td class='field-put value notranslate' field-key='calc_total' style='text-align: right; font-weight: bold;'>
                <td class='field-put value notranslate' field-key='calc_tax' style='text-align: right; font-weight: bold;'>
                <td class='field-put value notranslate' field-key='calc_total_tax' style='text-align: right; font-weight: bold;'>
            </tr>

        </tbody>
    </table>

    <textarea rows=10 cols=80 class='field-put field-get field-input' field-key='notes'></textarea>

</fieldset>




<div class='viewErrorClass floatingBar'>
    <button class='control-on-click-save' >Save</button>
    <button class='control-on-click-del control-hide-on-new' >Delete</button>
    <button class='control-on-click-cancel' >Cancel</button>
    <span class='viewErrorText'></span>
</div>

