
<script>
    new ControlList({
        'view'            	: view,
        'class'        		: 'ticket.Invoices',
        'get_params'        : view.params,
        'title'           	: 'Invoices',
        'endless_scrolling'	: true,
        'favorite_menu'     : 'invoices',
    });

</script>

<span class="ui-icon ui-icon-search" style='display:inline-block'></span>
<input type='text' class='control-on-change-search control-default-focus' control-search-keys='notes invoice_nr'>

<table >
    <tr class='ui-widget-header'>
        <th class='field-meta-put control-on-click-order control-order-desc' field-key='active' field-meta-key='desc'>
    	<th class='field-meta-put control-on-click-order control-order-asc' field-key='title' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='type' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='price' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='minutes' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='tax' field-meta-key='desc'>
    	<th>
    </tr>


    <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='' field-list-view="ticket.Invoices.edit">
        <td class='field-put field-list-on-click-view' field-key='active' >
        <td class='field-put field-list-on-click-view' field-key='title' >
        <td class='field-put field-list-on-click-view' field-key='type' >
        <td class='field-put field-list-on-click-view' field-key='price' >
        <td class='field-put field-list-on-click-view' field-key='minutes' >
        <td class='field-put field-list-on-click-view' field-key='tax' >

    	<td class='control-on-click-del ui-icon ui-icon-trash'>
    </tr>

</table>

<div class='floatingBar viewErrorClass'>
    <button class='control-on-click-view' control-view='ticket.Invoices.edit' field-key='title' >Create new invoice</button>
    <span class='viewErrorText'></span>
</div>
