
<script>

new ControlForm({
    'view'            : view,
    'class'           : 'ticket.InvoiceSettings',
    'get_params'      : undefined,
    'default_focus'   : 'title',
    'title'           : 'Invoice settings',
});



</script>

<table class='inline-block'>
    <tr>
        <td class='field-meta-put' field-key='invoice_nr' field-meta-key='desc'>
        <td class='field-meta-put' field-key='invoice_nr'>
    </tr>
</table>



<div class='viewErrorClass floatingBar'>
    <button class='control-on-click-save' >Save</button>
    <button class='control-on-click-cancel' >Cancel</button>
    <span class='viewErrorText'></span>
</div>

