
<script>

var form=new ControlForm({
    'view'            : view,
    'class'           : 'ticket.Invoices',
    'get_params'      : view.params,
    'default_focus'   : 'title',
    'title'           : 'View invoice {invoice_nr}',
    'favorite_menu'   : 'invoices',
    'create_view_params': view.params,
    'on_change'       : 'put',
    'get_result'      : function(result)
    {
        if (result.data.sent)
        {
            $(".on-click-copy, .on-click-revoke, .on-click-credit, .on-click-pdf", context).show();
        }
        else
        {
            $(".on-click-send",context).show();

            if (result.data.invoice_nr=="")
                $(".on-click-delete",context).show();
        }

        $(".on-click-credit", context).click(function()
        {
            rpc("ticket.Invoices.add_items", { 
                to_relation: result.data.to_relation,
                currency: result.data.currency,
                items: [{
                    amount: 1,
                    tax: 0,
                    price: -result.data.calc_total_tax,
                    desc: "Credit invoice "+result.data.invoice_nr
                }] 
            }, function(result)
            {
                if (!viewShowError(result, context))
                {
                    //view the invoice we've just changed/created
                    viewCreate({}, 
                    {
                        name: "ticket.Invoices.show",
                        params: {
                            _id: result.data._id
                        },
                        mode: 'main',

                    });
                }
            });
        });

        $(".on-click-copy", context).click(function()
        {
            rpc("ticket.Invoices.add_items", { 
                to_relation: result.data.to_relation,
                currency: result.data.currency,
                items: result.data.items
            }, function(result)
            {
                if (!viewShowError(result, context))
                {
                    //view the invoice we've just changed/created
                    viewCreate({}, 
                    {
                        name: "ticket.Invoices.show",
                        params: {
                            _id: result.data._id
                        },
                        mode: 'main',

                    });
                }
            });
        });

    }
});


$(".on-click-pdf", context).click(function()
{
    document.location="/rpc/ticket/Invoices/get_pdf/"+view.params._id;
});


$(".on-click-send", context).click(function()
{
    rpc("ticket.Invoices.send", { _id:view.params._id }, function(result)
        {
            if (!viewShowError(result, context))
            {
                //reload the view
                viewLoad(view);
            }
        });
});

$(".on-click-revoke", context).click(function()
{
    rpc("ticket.Invoices.revoke", { _id:view.params._id }, function(result)
        {
            if (!viewShowError(result, context))
            {
                //reload the view
                viewLoad(view);
            }
        });
});

$(".on-click-delete", context).click(function()
{
    rpc("ticket.Invoices.delete", { _id:view.params._id }, function(result)
        {
            if (!viewShowError(result, context))
            {
                window.history.back();
            }
        });
});

</script>
<div control-view="ticket.Invoices.edit">

<h1 class='field-put control-on-click-view' field-key='title'></h1>

<fieldset class='inline-block control-on-click-view' field-key='to_relation' >
    <legend>To:</legend>        
    <div class='field-put' field-key='to_copy.company'></div>
    <div class='field-put' field-key='to_copy.department'></div>
    <div class='field-put' field-key='to_copy.address'></div>
    <div><span class='field-put' field-key='to_copy.zip_code'></span>&nbsp;&nbsp;<span style='text-transform:uppercase;' class='field-put' field-key='to_copy.city'></span></div>
    <div class='field-put' field-key='to_copy.province'></div>
    <div class='field-put' field-key='to_copy.country'></div>

</fieldset>

<fieldset class='inline-block'>
    <legend>Status</legend>        
    <table class='inline-block'>
        <tr>
            <td class='field-meta-put' field-key='sent' field-meta-key='desc'>
            <td class='field-put value' field-key='sent'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='invoice_nr' field-meta-key='desc'>
            <td class='field-put value' field-key='invoice_nr'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='sent_date' field-meta-key='desc'>
            <td class='field-put value' field-key='sent_date'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='payed' field-meta-key='desc'>
            <td class='field-put value' field-key='payed'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='payed_date' field-meta-key='desc'>
            <td class='field-put value' field-key='payed_date'>
        </tr>
    </table>
</fieldset>

<fieldset class='inline-block' >
    <legend>From:</legend>        
    <div class='field-put' field-key='from_copy.company'></div>
    <div class='field-put' field-key='from_copy.department'></div>
    <div class='field-put' field-key='from_copy.address'></div>
    <div><span class='field-put' field-key='from_copy.zip_code'></span>&nbsp;&nbsp;<span style='text-transform:uppercase;' class='field-put' field-key='from_copy.city'></span></div>
    <div class='field-put' field-key='from_copy.province'></div>
    <div class='field-put' field-key='from_copy.country'></div>
    <p>
    <div>BTW: <span class='field-put' field-key='from_copy.vat_nr'></span></div>
    <div>KVK: <span class='field-put' field-key='from_copy.coc_nr'></span></div>
    <p>
    <div>IBAN: <span class='field-put' field-key='from_copy.iban_nr'></span></div>
    <div>BIC: <span class='field-put' field-key='from_copy.bic_code'></span></div>
</fieldset>



<p>


<table class='table-grid' style='width:100%' >
    <thead >
        <tr class='field-meta-put' field-key='items' >
            <th class='field-meta-put' field-key='items.amount' field-meta-key='desc' style='border-bottom-style: solid'>
            <th class='field-meta-put' field-key='items.desc' field-meta-key='desc' style='border-bottom-style: solid'>
            <th class='field-meta-put' field-key='items.price' field-meta-key='desc' style='border-bottom-style: solid'>
            <th class='field-meta-put' field-key='items.tax' field-meta-key='desc' style='border-bottom-style: solid'>
            <th class='field-meta-put' field-key='items.calc_total' field-meta-key='desc' style='border-bottom-style: solid'>
            <th class='field-meta-put' field-key='items.calc_total_tax' field-meta-key='desc' style='border-bottom-style: solid'>
        </tr>
    </thead>
    <tbody>
        <tr class='field-meta-put field-list-source-hide field-list-source' field-key='items' field-list-view="ticket.Invoices.edit">
            <td class='field-put control-on-click-view' style='width: 5em; text-align: right;' field-key='items.amount'>
            <td class='field-put control-on-click-view' field-key='items.desc'>
            <td style='width: 5em; text-align: right;'>
                <span class='field-put' field-key='currency'></span>&nbsp;<span class='field-put control-on-click-view'  field-key='items.price'></span>

            <td style='width: 5em; text-align: right;' >
                <span class='field-put control-on-click-view' field-key='items.tax'></span>%

            <td style='width: 5em; text-align: right;'>
                <span class='field-put' field-key='currency'></span>&nbsp;<span class='field-put' field-key='items.calc_total' ></span>

            <td style='width: 5em; text-align: right;'>
                <span class='field-put' field-key='currency'></span>&nbsp;<span class='field-put' field-key='items.calc_total_tax' ></span>
        </tr>
        <tr>
            <td colspan=4 style='border:none'>
            <td style='text-align: right; font-weight: bold; border-top: 2px solid black'>
                <span class='field-put' field-key='currency'></span>&nbsp;<span class='field-put' field-key='calc_total'></span>

            <td style='text-align: right; font-weight: bold; border-top: 2px solid black'>
                <span class='field-put' field-key='currency'></span>&nbsp;<span class='field-put' field-key='calc_total_tax'></span>
        </tr>

    </tbody>
</table>

<p class='field-put control-on-click-view' field-key='notes'>


</div>



<div class='viewErrorClass floatingBar'>
    <button class='hide on-click-send' >Send invoice</button>
    <button class='hide on-click-pdf' >Download pdf</button>
    <button class='hide on-click-revoke' >Revoke invoice</button>
    <button class='hide on-click-credit' >Credit invoice</button>
    <button class='hide on-click-delete' >Delete invoice</button>
    <button class='hide on-click-copy' >Copy invoice</button>
    <button class='control-on-click-cancel' >Cancel</button>
    <span class='viewErrorText'></span>
</div>

