
<script>

var form=new ControlForm({
    'view'            : view,
    'class'           : 'ticket.Invoices',
    'get_params'      : view.params,
    'default_focus'   : 'title',
    'title'           : 'View invoice {invoice_nr}',
    'favorite_menu'   : 'invoices',
    'create_view_params': view.params,
});


$(".on-click-pdf").click(function()
{
    document.location="/rpc/ticket/Invoices/get_pdf/"+view.params._id;
});

</script>

<div>
    <fieldset class='inline-block'>
        <legend>To:</legend>        
        <div class='field-put' field-key='to_copy.company'></div>
        <div class='field-put' field-key='to_copy.department'></div>
        <div class='field-put' field-key='to_copy.address'></div>
        <div><span class='field-put' field-key='to_copy.zip_code'></span>&nbsp;&nbsp;<span style='text-transform:uppercase;' class='field-put' field-key='to_copy.city'></span></div>
        <div class='field-put' field-key='to_copy.province'></div>
        <div class='field-put' field-key='to_copy.country'></div>

    </fieldset>

    <fieldset class='inline-block' style='float: right'>
        <legend>From:</legend>        
        <div class='field-put' field-key='from_copy.company'></div>
        <div class='field-put' field-key='from_copy.department'></div>
        <div class='field-put' field-key='from_copy.address'></div>
        <div><span class='field-put' field-key='from_copy.zip_code'></span>&nbsp;&nbsp;<span style='text-transform:uppercase;' class='field-put' field-key='from_copy.city'></span></div>
        <div class='field-put' field-key='from_copy.province'></div>
        <div class='field-put' field-key='from_copy.country'></div>
        <p>
        <div>BTW: <span class='field-put' field-key='from_copy.vat_nr'></span></div>
        <div>KVK: <span class='field-put' field-key='from_copy.coc_nr'></span></div>
        <p>
        <div>IBAN: <span class='field-put' field-key='from_copy.iban_nr'></span></div>
        <div>BIC: <span class='field-put' field-key='from_copy.bic_code'></span></div>
    </fieldset>
</div>

<p>

<fieldset class='inline-block control-hide-on-new'>
    <legend>Status</legend>        
    <table class='inline-block'>
        <tr>
            <td class='field-meta-put' field-key='invoice_nr' field-meta-key='desc'>
            <td class='field-put value' field-key='invoice_nr'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='sent_date' field-meta-key='desc'>
            <td class='field-put value' field-key='sent_date'>
        </tr>
    </table>
</fieldset>

<p>


<table class='table-grid' style='width:100%' control-view="ticket.Invoices.edit">
    <thead >
        <tr class='field-meta-put' field-key='items' >
            <th class='field-meta-put' field-key='items.amount' field-meta-key='desc' style='border-bottom-style: solid'>
            <th class='field-meta-put' field-key='items.desc' field-meta-key='desc' style='border-bottom-style: solid'>
            <th class='field-meta-put' field-key='items.price' field-meta-key='desc' style='border-bottom-style: solid'>
            <th class='field-meta-put' field-key='items.tax' field-meta-key='desc' style='border-bottom-style: solid'>
            <th class='field-meta-put' field-key='items.calc_total' field-meta-key='desc' style='border-bottom-style: solid'>
            <th class='field-meta-put' field-key='items.calc_total_tax' field-meta-key='desc' style='border-bottom-style: solid'>
        </tr>
    </thead>
    <tbody>
        <tr class='field-meta-put field-list-source-hide field-list-source' field-key='items' field-list-view="ticket.Invoices.edit">
            <td class='field-put control-on-click-view' style='width: 5em; text-align: right;' field-key='items.amount'>
            <td class='field-put control-on-click-view' field-key='items.desc'>
            <td style='width: 5em; text-align: right;'>
                <span class='field-put' field-key='currency'></span>
                <span class='field-put control-on-click-view'  field-key='items.price'></span>

            <td style='width: 5em; text-align: right;' class='control-on-click-view'>
                <span class='field-put' field-key='items.tax'></span>%

            <td style='width: 5em; text-align: right;'>
                <span class='field-put' field-key='currency'></span>
                <span class='field-put' field-key='items.calc_total' ></span>

            <td style='width: 5em; text-align: right;'>
                <span class='field-put' field-key='currency'></span>
                <span class='field-put' field-key='items.calc_total_tax' ></span>
        </tr>
        <tr>
            <td colspan=4 style='border:none'>
            <td style='text-align: right; font-weight: bold; border-top: 2px solid black'>
                <span class='field-put' field-key='currency'></span>
                <span class='field-put' field-key='calc_total'></span>

            <td style='text-align: right; font-weight: bold; border-top: 2px solid black'>
                <span class='field-put' field-key='currency'></span>
                <span class='field-put' field-key='calc_total_tax'></span>
        </tr>

    </tbody>
</table>

<p class='field-put' field-key='notes'>





<div class='viewErrorClass floatingBar'>
    <button class='control-on-click-cancel' >Back</button>
    <button class='on-click-pdf' >Download pdf</button>
    <span class='viewErrorText'></span>
</div>

