
<script>
controlForm({
	view			: view,
	getMeta			: 'users.getMeta',
	getMetaParams		: view.params,
	getData			: 'users.get',
	getDataParams		: view.params,
	putData			: 'users.put',
	putDataParams		: { "_id": view.params._id },
	defaultFocus	: [ "username" ],
	closeAfterSave	: true,
	loadCallback	: function(result) {
		if (result.data)
			title="Wijzigen gebruiker "+result.data.username;
		else
			title="Nieuwe gebruiker";
			
		viewReady({
			view: view,
			title:title
		});
		
	},
	errorCallback	: function(result) { },
	saveCallback	: function(result) {
		view.params._id=result.data._id;
		$(document).trigger("menu.addFavorite",{
			menu:		"users",
			title:		"Wijzig "+result.data.username,
			view:		view
		});
	}
});

</script>

<fieldset style='display:inline-block;'>
	<legend>Inlog gegevens</legend>
	<table>
		<tr>
			<td class='field-meta-put' field-key='active' field-meta-key='desc'>
			<td class='field-meta-put' field-key='active'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='username' field-meta-key='desc'>
			<td class='field-meta-put' field-key='username'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='password' field-meta-key='desc'>
			<td class='field-meta-put' field-key='password'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='rights' field-meta-key='desc'>
			<td class='field-meta-put' field-key='rights'  style='background:#eeffee;'>
		</tr>
	</table>
</fieldset>

<fieldset style='display:inline-block;'>
	<legend>Contact gegevens</legend>
	<table>
		<tr>
			<td class='field-meta-put' field-key='company' field-meta-key='desc'>
			<td class='field-meta-put' field-key='company'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='name' field-meta-key='desc'>
			<td class='field-meta-put' field-key='name'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='address' field-meta-key='desc'>
			<td class='field-meta-put' field-key='address'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='postalcode' field-meta-key='desc'>
			<td class='field-meta-put' field-key='postalcode'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='city' field-meta-key='desc'>
			<td class='field-meta-put' field-key='city'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='country' field-meta-key='desc'>
			<td class='field-meta-put' field-key='country'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='email' field-meta-key='desc'>
			<td class='field-meta-put' field-key='email'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='phone' field-meta-key='desc'>
			<td class='field-meta-put' field-key='phone'>
		</tr>
	</table>
</fieldset>

<fieldset  style='display:inline-block;'>
	<legend>Factuur gegevens</legend>
	<table>
		<tr>
			<td class='field-meta-put' field-key='tax' field-meta-key='desc'>
			<td class='field-meta-put' field-key='tax'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='invoiceName' field-meta-key='desc'>
			<td class='field-meta-put' field-key='invoiceName'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='invoiceAddress' field-meta-key='desc'>
			<td class='field-meta-put' field-key='invoiceAddress'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='invoicePostalcode' field-meta-key='desc'>
			<td class='field-meta-put' field-key='invoicePostalcode'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='invoiceCity' field-meta-key='desc'>
			<td class='field-meta-put' field-key='invoiceCity'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='invoiceCountry' field-meta-key='desc'>
			<td class='field-meta-put' field-key='invoiceCountry'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='invoiceEmail' field-meta-key='desc'>
			<td class='field-meta-put' field-key='invoiceEmail'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='invoicePhone' field-meta-key='desc'>
			<td class='field-meta-put' field-key='invoicePhone'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='bankNumber' field-meta-key='desc'>
			<td class='field-meta-put' field-key='bankNumber'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='taxNumber' field-meta-key='desc'>
			<td class='field-meta-put' field-key='taxNumber'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='kvkNumber' field-meta-key='desc'>
			<td class='field-meta-put' field-key='kvkNumber'>
		</tr>
	</table>
</fieldset>


<div class='floatingBar viewErrorClass'>
	<button class='controlOnClickSave' >Opslaan</button>
	<span class='viewErrorText'></span>
</div>
