
<script>

new ControlForm({
    'view'            : view,
    'class'           : 'core.Users',
    'default_focus'   : ['username'],
    'title'           : 'Edit user {username}',
    'title_new'       : 'New user',
    'favorite_menu'   : 'users'
});


</script>

<fieldset style='display:inline-block;'>
	<legend>User account</legend>
	<table>
		<tr>
			<td class='field-meta-put' field-key='active' field-meta-key='desc'>
			<td class='field-meta-put' field-key='active'>
		</tr>
        <tr>
            <td class='field-meta-put' field-key='username' field-meta-key='desc'>
            <td class='field-meta-put' field-key='username'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='fullname' field-meta-key='desc'>
            <td class='field-meta-put' field-key='fullname'>
        </tr>
		<tr>
			<td class='field-meta-put' field-key='password' field-meta-key='desc'>
			<td class='field-meta-put' field-key='password'>
		</tr>
		<tr>
			<td class='field-meta-put' field-key='groups' field-meta-key='desc'>
			<td class='field-meta-put' field-key='groups'  style='background:#eeffee;'>
		</tr>
	</table>
</fieldset>

<br>

<fieldset style='display:inline-block;'>
	<legend class='field-meta-put' field-key='emails' field-meta-key='desc'></legend>

    <table >
        <thead >
            <tr class='field-meta-put' field-key='emails'>
                <td>
                <td class='field-meta-put' field-key='emails.email' field-meta-key='desc'>
                <td class='field-meta-put' field-key='emails.desc' field-meta-key='desc'>
                <td>
                <td>
            </tr>
        </thead>
        <tbody class='control-list-sortable'>
            <tr class='colorRows field-meta-put field-list-source ui-widget-content' field-key='emails'>
                <td class='control-on-drag-sort ui-icon ui-icon-arrowthick-2-n-s'> 
                <td class='field-meta-put control-on-focus-list-add' field-key='emails.email'>
                <td class='field-meta-put control-on-focus-list-add' field-key='emails.desc'>
                <td class='control-on-click-list-del ui-icon ui-icon-trash'>
                <td class='control-on-click-list-add ui-icon ui-icon-plus'>
            </tr>
        </tbody>
    </table>

</fieldset>

<fieldset style='display:inline-block;'>
    <legend class='field-meta-put' field-key='phones' field-meta-key='desc'></legend>
    <table >
        <thead >
            <tr class='field-meta-put' field-key='phones'>
                <td>
                <td class='field-meta-put' field-key='phones.phone' field-meta-key='desc'>
                <td class='field-meta-put' field-key='phones.desc' field-meta-key='desc'>
                <td>
                <td>
            </tr>
        </thead>
        <tbody class='control-list-sortable'>
            <tr class='colorRows field-meta-put field-list-source ui-widget-content' field-key='phones'>
                <td class='control-on-drag-sort ui-icon ui-icon-arrowthick-2-n-s'> 
                <td class='field-meta-put control-on-focus-list-add' field-key='phones.phone'>
                <td class='field-meta-put control-on-focus-list-add' field-key='phones.desc'>
                <td class='control-on-click-list-del ui-icon ui-icon-trash'>
                <td class='control-on-click-list-add ui-icon ui-icon-plus'>
            </tr>
        </tbody>
    </table>
</fieldset>


<div class='floatingBar viewErrorClass'>
    <button class='control-on-click-save' >Save</button>
    <button class='control-on-click-del control-hide-on-new' >Delete</button>
    <button class='control-on-click-cancel' >Cancel</button>
	<span class='viewErrorText'></span>
</div>
