
<script>
    new ControlList({
        'view'              : view,
        'class'             : 'core.Users',
        'title'             : 'Users overview',
        'endless_scrolling' : true,
        'edit_view'       : {
            name:   'core.Users.edit',
            mode:   'main',
            params: { }
        }
    });

</script>

<table >
<tr class='ui-widget-header'>
    <th class='field-meta-put control-on-click-order' field-key='active' field-meta-key='desc'>
    <th class='field-meta-put control-on-click-order control-order-asc' field-key='username' field-meta-key='desc'>
    <th class='field-meta-put control-on-click-order' field-key='fullname' field-meta-key='desc'>
    <th class='field-meta-put control-on-click-order' field-key='groups' field-meta-key='desc'>
    <th>
</tr>

<tr>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='active' field-allow-null filter-match>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='username' field-allow-null>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='fullname' field-allow-null>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='groups' field-allow-null filter-in>

</tr>

<tr class='colorRows field-list-source ui-widget-content' field-key=''>
    <td class='control-on-click-edit field-put' field-key='active' >
    <td class='control-on-click-edit field-put' field-key='username' >
    <td class='control-on-click-edit field-put' field-key='fullname' >
    <td class='control-on-click-edit field-put' field-key='groups' >
    <td class='control-on-click-del ui-icon ui-icon-trash'>
</tr>
</table>


