<script>

controlList({
	view		: view,
	id		: '_id',
	getMeta		: 'users.getMeta',
	getMetaParams	: view.params,
	getData		: 'users.getAll',
	getDataParams	: view.params,
	delData		: 'users.del',
	editView		: {
		name: 'users.edit',
		mode: 'main',
		params: view.params
	},
	loadCallback	: function(result) {
		viewReady({
			view: view,
			title: "Gebruikers overzicht"
		});
	},
	errorCallback	: function(result) { },
	saveCallback	: function(result) { }
});

</script>

<table >
	<tr class='ui-widget-header'>
		<th class='field-meta-put controlOnClickOrder' field-key='active' field-meta-key='desc'>
		<th class='field-meta-put controlOnClickOrder controlOrderAsc' field-key='username' field-meta-key='desc'>
		<th class='field-meta-put controlOnClickOrder' field-key='name' field-meta-key='desc'>
		<th class='field-meta-put controlOnClickOrder' field-key='company' field-meta-key='desc'>
		<th class='field-meta-put controlOnClickOrder' field-key='rights' field-meta-key='desc'>
		<th>
	</tr>

	<tr>
		<td>
		<td><input type='text' class='control-on-change-filter controlSetFocus' field-key='username'>
		<td><input type='text' class='control-on-change-filter' field-key='name'>
		<td><input type='text' class='control-on-change-filter' field-key='company'>
		<td>
	</tr>

	<tr class='colorRows autoListSource ui-widget-content' _index='_id'>
		<td class='field-input-put control-on-click-edit' field-key='active' _html>
		<td class='field-input-put control-on-click-edit' field-key='username' _html>
		<td class='field-input-put control-on-click-edit' field-key='name' _html>
		<td class='field-input-put control-on-click-edit' field-key='company' _html>
		<td class='field-input-put control-on-click-edit' field-key='rights' _html>
		<td class='control-on-click-del ui-icon ui-icon-trash' _html>
	</tr>
</table>

