
<script>
    $(".on-click-login", context).click(function()
    {
        rpc("core.Users.switch_user",{
            _id: $(this).closest(".field-list-item").attr("field-list-id")
        });
    });

    new ControlList({
        'view'              : view,
        'class'             : 'core.Users',
        'get_params'        : view.params,
        'title'             : 'Users overview',
        'endless_scrolling' : true,
        'favorite_menu'     : 'users',
        'default_focus'     : null,
    });

</script>

<span class="ui-icon ui-icon-search" style='display:inline-block'></span>
<input type='text' class='control-on-change-search control-default-focus' control-search-keys='name fullname email'>

<table >
<tr class='ui-widget-header'>
    <th class='field-meta-put control-on-click-order' field-key='active' field-meta-key='desc'>
    <th class='field-meta-put control-on-click-order control-order-asc' field-key='name' field-meta-key='desc'>
    <th class='field-meta-put control-on-click-order' field-key='fullname' field-meta-key='desc'>
    <th class='field-meta-put control-on-click-order' field-key='email' field-meta-key='desc'>
    <th>Login as
    <th>
</tr>

<tr>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='active' field-allow-null filter-match>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='name' field-allow-null>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='fullname' field-allow-null>
    <td class='field-meta-put control-on-filter-highlight control-on-change-filter' field-key='email' field-allow-null>
    <td>
    <td>
</tr>

<tr class='colorRows field-list-source notranslate field-list-source-hide ui-widget-content' field-key='' field-list-view="core.Users.edit">
    <td class='field-list-on-click-view field-put' field-key='active' >
    <td class='field-list-on-click-view field-put' field-key='name' >
    <td class='field-list-on-click-view field-put' field-key='fullname' >
    <td class='field-list-on-click-view field-put' field-key='email' >
    <td><span class='clickable on-click-login ui-icon ui-icon-key'></span>
    <td><span class='control-on-click-del ui-icon ui-icon-trash'></span>
</tr>

<tr>
    <td colspan=6><a class='field-list-on-click-view' field-key='name' href='#'>Create new user</a>
</tr>

</table>


<div class='floatingBar viewErrorClass'>
    <button class='control-on-click-view' control-view='core.Users.edit'>Add</button>
</div>
