<script>
new ControlForm({
    'view'            : view,
    'class'           : 'core.Users',
    'default_focus'   : 'name',
    'title_new'       : 'Inloggen',
    'get'             : undefined,
    'put'             : 'core.Users.login',
    'put_result' : function(result)
    {
        $.jStorage.flush();
        $.jStorage.set("session", result.data);
        session=result.data;
        $.publish("menu.reload");
    }
});

</script>



<table>
<tr>
    <td class='field-meta-put' field-key='name' field-meta-key='desc'>
    <td class='field-meta-put' field-key='name'>
</tr>
<tr>
    <td class='field-meta-put' field-key='password' field-meta-key='desc'>
    <td class='field-meta-put' field-key='password'>
</tr>
</table>


<button class='control-on-click-save'>Login</button>

<span class='viewError'></span>

