<script>
new ControlForm({
    'view'            : view,
    'class'           : 'core.Users',
    'default_focus'   : ['username'],
    'title'           : 'Inloggen',
    'put'             : 'core.Users.login',
    'put_result' : function()
    {
        $(document).trigger("menu.reload");
    }
});

</script>



<table>
<tr>
    <td class='autoMeta' _key='username' _meta='desc'>
    <td class='autoMeta' _key='username'>
</tr>
<tr>
    <td class='autoMeta' _key='password' _meta='desc'>
    <td class='autoMeta' _key='password'>
</tr>
</table>



<button class='controlOnClickSave'>Login</button>
<span class='viewError'></span>

