
<script>

new ControlForm({
    'view'            : view,
    'class'           : 'ticket.ContractInvoices',
    'get_params'      : { '_id': view.params._id },
    'default_focus'   : 'desc',
    'title'           : 'Edit contract order {desc}',
    'title_new'       : 'New contract order',
    'default'         : { 
        'allowed_users': view.params.allowed_users,
        'allowed_groups': view.params.allowed_groups,
        'relation': view.params.relation_id,
        'contract': view.params.contract_id,
        'date': new Date().getTime()/1000
    }
});



</script>

<table class='inline-block'>
    <tr>
        <td class='field-meta-put' field-key='desc' field-meta-key='desc'>
        <td class='field-meta-put' field-key='desc'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='date' field-meta-key='desc'>
        <td class='field-meta-put' field-key='date'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='relation' field-meta-key='desc'>
        <td class='field-meta-put ' field-key='relation'>
            <span class='list-span field-dict-raw field-list-source notranslate field-list-source-hide' field-key='relation' field-list-view="ticket.Relations.edit">
                <span class='field-put field-list-on-click-view' field-key='relation.title' style='font-weight: bold'></span>
                <span class='inline-block field-list-on-click-del ui-icon ui-icon-close'></span>
            </span>
            <input  class='field-relation-on-click-add field-relation-on-change-autocomplete' search-keys='title' result-format='{title}' size=10/>
            <span class='field-list-on-click-view ui-icon ui-icon-plus inline-block' field-key='title'></span>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='contract' field-meta-key='desc'>
        <td class='field-meta-put' field-key='contract'>
            <span class='list-span field-dict-raw field-list-source notranslate field-list-source-hide' field-key='contract' field-list-view="ticket.Contracts.edit">
                <span class='field-put field-list-on-click-view' field-key='contract.title' style='font-weight: bold'></span>
                <span class='inline-block field-list-on-click-del ui-icon ui-icon-close'></span>
            </span>
            <input  class='field-relation-on-click-add field-relation-on-change-autocomplete' search-keys='title' result-format='{title}' size=10/>
            <span class='field-list-on-click-view ui-icon ui-icon-plus inline-block' field-key='title'></span>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='invoice' field-meta-key='desc'>
        <td class='field-meta-put' field-key='invoice'>
            <span class='list-span field-dict-raw field-list-source notranslate field-list-source-hide' field-key='invoice' field-list-view="ticket.Invoices.edit">
                <span class='field-put field-list-on-click-view' field-key='invoice.title' style='font-weight: bold'></span>
                <span class='field-put field-list-on-click-view' field-key='invoice.invoice_nr' style='font-weight: bold'></span>
                <span class='inline-block field-list-on-click-del ui-icon ui-icon-close'></span>
            </span>
            <input  class='field-relation-on-click-add field-relation-on-change-autocomplete' search-keys='title invoice_nr' result-format='{title} {invoice_nr}' size=10/>
            <span class='field-list-on-click-view ui-icon ui-icon-plus inline-block' field-key='title'></span>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='minutes_used' field-meta-key='desc'>
        <td class='field-put' field-key='minutes_used'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='minutes_bought' field-meta-key='desc'>
        <td class='field-meta-put' field-key='minutes_bought'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='minutes_rounding' field-meta-key='desc'>
        <td class='field-meta-put' field-key='minutes_rounding'>
    </tr>


    <tr>
        <td class='field-meta-put ticket-sharing-permissions' field-key='allowed_users' field-meta-key='desc'>
        <td class='field-meta-put field-key-root' field-key='allowed_users' >
            <span >
                <span field-list-view="core.Users.edit" class='list-span-form field-list-source notranslate field-list-source-hide' field-key='allowed_users' >
                        <span class='ticket-sharing-user field-put field-list-on-click-view' field-key='allowed_users.name'></span>
                        <span class='field-list-on-click-del  ui-icon ui-icon-close'></span>
                </span>
                <span class='list-span-form'>
                    <input class='field-relation-on-change-autocomplete field-relation-on-click-add ' search-keys='name' result-format='{name}' sort-key='name' />
                    <span class='field-list-on-click-view ui-icon ui-icon-plus ' field-key='allowed_users.name'></span>
                </span>
            </span>
    </tr>

    <tr>
        <td class='field-meta-put ticket-sharing-permissions' field-key='allowed_groups' field-meta-key='desc'>
        <td class='field-meta-put field-key-root' field-key='allowed_groups' >
            <span >
                <span field-list-view="core.Groups.edit" class='list-span-form field-list-source notranslate field-list-source-hide' field-key='allowed_groups' >
                        <span class='ticket-sharing-group field-put field-list-on-click-view' field-key='allowed_groups.name'></span>
                        <span class='field-list-on-click-del  ui-icon ui-icon-close'></span>
                </span>
                <span class='list-span-form'>
                    <input class='field-relation-on-change-autocomplete field-relation-on-click-add ' search-keys='name' result-format='{name}' sort-key='name' />
                    <span class='field-list-on-click-view ui-icon ui-icon-plus ' field-key='allowed_groups.name'></span>
                </span>
            </span>
    </tr>

</table>



<div class='viewErrorClass floatingBar'>
    <button class='control-on-click-save' >Save</button>
    <button class='control-on-click-del control-hide-on-new' >Delete</button>
    <button class='control-on-click-cancel' >Cancel</button>
    <span class='viewErrorText'></span>
</div>

