
<script>

var contract=new ControlForm({
    'view'              : view,
    'class'             : 'ticket.Contracts',
    'context'           : '.contract',
    'on_change'         : 'put',
    'get_params'        : {
        '_id'           : view.params._id
    },
    'title'             : 'Contract orders "{title}"',
    'create_view_params': {
        '_id'           : view.params._id
    }
});

var contract_invoices=new ControlList({
    'view'            	: view,
    'class'        		: 'ticket.ContractInvoices',
    'context'           : '.contract-invoices',
    'get_params'        : {
        "match": {
            'relation': view.params.relation_id,
            'contract': view.params._id
        }
    },
    'endless_scrolling'	: true,
    'create_view_params': {
        'relation_id': view.params.relation_id, 
        'contract_id': view.params._id
    }
});

var ticket_objects=new ControlList({
    'view'              : view,
    'context'           : '.ticket-objects',
    'class'             : 'ticket.TicketObjects',
    'endless_scrolling' : true,
    'get_params'        : {
        'match': {
            'billing_relation': view.params.relation_id,
            'billing_contract': view.params._id,
            'billing_contract_invoice': null,
        }
    },
    'create_view_params': {
        'relation_id': view.params.relation_id 
    }
});

$(".on-click-contract-invoices-auto-invoice", context).click(function()
{
    rpc("ticket.ContractInvoices.auto_invoice",{
        relation_id: view.params.relation_id,
        contract_id: view.params._id,
    }, function(result)
    {
        viewShowError(result, context);
    });
    return(false);
});



</script>

<fieldset class='inline-block contract' >
    <legend>Contract</legend>
    <table class='inline-block' control-view="ticket.Contracts.edit">
        <tr>
            <td class='field-meta-put' field-key='title' field-meta-key='desc'>
            <td class='field-put value control-on-click-view' field-key='title'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='desc' field-meta-key='desc'>
            <td class='field-put value control-on-click-view' field-key='desc'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='auto' field-meta-key='desc'>
            <td class='field-put value control-on-click-view' field-key='auto'>
        </tr>
        <tr>
            <td class='field-meta-put' field-key='type' field-meta-key='desc'>
            <td class='field-put value control-on-click-view' field-key='type'>
        </tr>
    </table>
</fieldset>

<br>

<fieldset class='inline-block' >
    <legend>Contract orders</legend>

    <div class='contract-invoices inline-block' style='overflow: auto; max-height:50em; width: 50em' control-view='ticket.ContractInvoices.edit'>

        <span class="ui-icon ui-icon-search" style='display:inline-block'></span>
        <input type='text' class='control-on-change-search control-default-focus' control-search-keys='contract_title desc'>
        <span class='control-on-click-view ui-icon ui-icon-plus inline-block' field-key='desc'></span>

        <table >
            <tr class='ui-widget-header'>
                <th>
                <th class='field-meta-put control-on-click-order control-order-desc' field-key='date' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order' field-key='contract_title' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order' field-key='desc' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order' field-key='minutes_used' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order' field-key='minutes_bought' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order' field-key='minutes_balance' field-meta-key='desc'>
            	<th>
            </tr>


            <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='' field-list-view="ticket.ContractInvoices.edit">
                <td class='field-list-on-click-view ticket-show-button-style' field-list-view="ticket.ContractInvoices.show">&nbsp;
                <td class='field-put field-list-on-click-view' field-key='date' >
                <td class='field-put field-list-on-click-view' field-key='contract_title' >
                <td class='field-put field-list-on-click-view' field-key='desc' >
                <td class='field-put field-list-on-click-view' field-key='minutes_used' >
                <td class='field-put field-list-on-click-view' field-key='minutes_bought' >
                <td class='field-put field-list-on-click-view' field-key='minutes_balance' >

            	<td class='control-on-click-del ui-icon ui-icon-trash'>
            </tr>

        </table>
    </div>

    <div class='floatingBar viewErrorClass'>
        <button class='on-click-contract-invoices-auto-invoice' >Auto invoice</button>

        <span class='viewErrorText'></span>
    </div>
</fieldset>

<fieldset class='inline-block' >
    <legend>Not invoiced yet</legend>

    <div class='ticket-objects inline-block' style='overflow: auto; max-height:50em; width: 50em'>
        <span class="ui-icon ui-icon-search" style='display:inline-block'></span>
        <input type='text' class='control-on-change-search control-default-focus' control-search-keys='title text'>

        <span class='ticket-object-add-links'>
        </span>

        <table>
            <tr class='ui-widget-header'>
                <th class='field-meta-put control-on-click-order' field-key='type' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order control-order-desc' field-key='create_time' field-meta-key='desc' >
                <th colspan=1>Time
                <th>
            </tr>

            <tr class='colorRows ticket-object field-list-source field-list-add-after field-list-source-hide ui-widget-content' field-key='' field-list-view="ticket.TicketObjects.edit">
                <td class='field-list-on-click-view field-put' field-key='type' nowrap>
                <td class='field-list-on-click-view field-put' field-key='create_time' nowrap field-timestamp-allow-time>


                <td class='field-list-on-click-view field-put' field-key='minutes'>


                <td>
                    <div class='field-list-on-click-view field-put' field-key='title' style='font-weight:bold'></div>
                    <div class='field-list-on-click-view field-put' field-key='text' style='white-space: pre-wrap'></div>


            </tr>
        </table>

    </div>
</fieldset>
