<script>

var contract_invoice=new ControlForm({
    'view'            : view,
    'class'           : 'ticket.ContractInvoices',
    'get_params'      : view.params,
    'default_focus'   : 'title',
    'on_change'       : 'put',
    'title'           : 'View contract order {contract_title} {desc}',
    'create_view_params': view.params,
    'context'         : '.contract-invoice',
    'get_result'      : function(result)
    {
        var tickets_objects=new ControlListRelated({
            'view'              : view,
            'related_key'       : 'billing_contract_invoice',
            'related_value'     : view.params._id,
            'context'           : '.ticket-objects',
            'class'             : 'ticket.TicketObjects',
            'endless_scrolling' : true,
            'unrelate_confirm'  : "Remove this time from this contract order?",
            'autocomplete_params': {
                'match': {
                    'billing_contract': result.data.contract,
                    'billing_relation': result.data.relation,
                    'billing_contract_invoice': null,
                }
            },
            'create_view_params':
            {
                "type":"time",
                "billing_relation": result.data.relation,
                'billing_contract': result.data.contract,
                'billing_contract_invoice': view.params._id,
            }
        });

    }
});

$(".on-click-details-to-invoice", context).click(function()
{
    rpc("ticket.ContractInvoices.manual_invoice",{
        contract_invoice_id: view.params._id,
    }, function(result)
    {
        viewShowError(result, context);
    });
    return(false);
});

</script>

<div control-view="ticket.ContractInvoices.edit" class='contract-invoice'>

    <h1>
        <span class='field-put ' field-key='contract_title'></span>
        <span class='field-put control-on-click-view' field-key='desc'></span>
    </h1>

    <fieldset class='inline-block' >
        <table class='inline-block'>
            <tr>
                <td class='field-meta-put' field-key='relation' field-meta-key='desc'>
                <td class='field-meta-put value' field-key='relation'>
                    <span class='list-span field-dict-raw field-list-on-click-view field-list-source notranslate field-list-source-hide' field-key='relation' field-list-view="ticket.Relations.edit">
                        <span class='field-put' field-key='relation.title'></span>
                    </span>
            </tr>
            <tr>
                <td class='field-meta-put' field-key='contract' field-meta-key='desc'>
                <td class='field-meta-put value' field-key='contract'>
                    <span class='list-span field-dict-raw field-list-on-click-view field-list-source notranslate field-list-source-hide' field-key='contract' field-list-view="ticket.Contracts.edit">
                        <span class='field-put' field-key='contract.title'></span>
                    </span>
            </tr>
            <tr>
                <td class='field-meta-put' field-key='desc' field-meta-key='desc'>
                <td class='field-put value notranslate control-on-click-view' field-key='desc'>
            </tr>
            <tr>
                <td class='field-meta-put' field-key='invoice' field-meta-key='desc'>
                <td class='field-meta-put value' field-key='invoice'>
                    <span class='list-span field-dict-raw field-list-source notranslate field-list-on-click-view field-list-source-hide' field-key='invoice' field-list-view="ticket.Invoices.edit">
                        <span class='field-put' field-key='invoice.title'></span>
                        <span class='field-put' field-key='invoice.invoice_nr'></span>
                    </span>
            </tr>
        </table>
    </fieldset>


    <fieldset class='inline-block' >
        <table class='inline-block'>
            <tr>
                <td class='field-meta-put' field-key='minutes_used' field-meta-key='desc'>
                <td class='field-put value notranslate control-on-click-view' field-key='minutes_used'>
            </tr>
            <tr>
                <td class='field-meta-put' field-key='minutes_bought' field-meta-key='desc'>
                <td class='field-put value notranslate control-on-click-view' field-key='minutes_bought'>
            </tr>
            <tr>
                <td class='field-meta-put' field-key='minutes_balance' field-meta-key='desc'>
                <td class='field-put value notranslate control-on-click-view' style='font-weight: bold' field-key='minutes_balance'>
            </tr>
        </table>
    </fieldset>



    <div class='floatingBar viewErrorClass'>
        <button class='control-on-click-view' >Edit</button>
        <button class='control-on-click-cancel' >Back</button>
        <button class='on-click-details-to-invoice' >Add to invoice</button>
        <span class='viewErrorText'></span>
    </div>


</div>

<br>

<fieldset class='inline-block' control-view="ticket.TicketObjects.edit">
    <legend>Invoiced time</legend>

    <div class='ticket-objects inline-block' style='overflow: auto; max-height:25em;'>

        <span class="ui-icon ui-icon-search inline-block" ></span>
        <input type='text' class='control-on-change-search control-default-focus' control-search-keys='title text'>


        <input style='margin-left: 2em;' class='control-relation-on-change-autocomplete' search-keys='title text' result-format='{title} ({minutes}m)' />
        <span class='control-relation-on-click-add ui-icon ui-icon-triangle-1-s inline-block'></span>
        <span class='control-on-click-view ui-icon ui-icon-plus inline-block'></span>

        <table>
            <tr class='ui-widget-header'>
                <th class='field-meta-put control-on-click-order' field-key='type' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order control-order-desc' field-key='create_time' field-meta-key='desc' >
                <th colspan=2>Time
                <th>
                <th>
            </tr>

            <tr class='colorRows ticket-object field-list-source notranslate field-list-add-after field-list-source-hide ui-widget-content' field-key='' field-list-view="ticket.TicketObjects.edit">
                <td class='field-list-on-click-view field-put' field-key='type' nowrap>
                <td class='field-list-on-click-view field-put' field-key='create_time' nowrap field-timestamp-allow-time>


                <td class='field-list-on-click-view field-put' field-key='minutes'>
                <td class='field-list-on-click-view field-put' field-key='minutes_factor'>


                <td>
                    <div class='field-list-on-click-view field-put' field-key='title' style='font-weight:bold'></div>
                    <div class='field-list-on-click-view field-put' field-key='text' style='white-space: pre-wrap'></div>

                <td class='control-relation-on-click-del'><span class='ui-icon ui-icon-close'></span></td>


            </tr>
        </table>

    </div>
</fieldset>




