
<script>

new ControlForm({
    'view'             : view,
    'class'            : 'core.Companies',
    'default_focus'    : ['name'],
    'title'            : 'Edit company {name}',
    'title_new'        : 'New company',
    'favorite_menu'    : 'companies',
    'create_ok'        : function(result)
    {
        viewCreate({},{
            'name': 'core.Companies.show',
            'mode': 'main',
            'params': { '_id': result.data._id }
        });
    }
});


</script>

<fieldset style='display:inline-block;'>
	<legend>Company info</legend>
	<table>
        <tr>
            <td class='field-meta-put' field-key='name' field-meta-key='desc'>
            <td class='field-meta-put' field-key='name'>
        </tr>
	</table>


</fieldset>

<br>


<div class='floatingBar viewErrorClass'>
    <button class='control-on-click-save' >Save</button>
    <button class='control-on-click-del control-hide-on-new' >Delete</button>
    <button class='control-on-click-cancel' >Cancel</button>
    <span class='viewErrorText'></span>
</div>

