
<script>

//$('#_id', view.context).val(view.params._id)

rpc(view.params.cls+".get", { '_id': view.params._id }, function(result)
{
    viewReady({ 
        'view': view,
        'title': ControlBase.prototype.format("Class {cls}, object _id {_id} ", view.params)
    });

    //viewShowError(data.result, view.context);


    $("#data", view.context).val(JSON.stringify(result.data, null, ' '));

});




</script>



data:
<textarea id='data' cols='100' rows='20'>
</textarea>

<div class='floatingBar viewErrorClass'>
    <button class='control-on-click-save' >Save</button>
    <button class='control-on-click-del control-hide-on-new' >Delete</button>
    <button class='control-on-click-cancel' >Cancel</button>
    <span class='viewErrorText'></span>
</div>

