
<script>
    //the clone stuff is actually a kind of meta-meta data. e.g. templates to create the actual meta dom objects from , which in turn can be used by the normal Control classes.

    var clone_list_source=$(".clone-list-source", view.context).clone(true);

    $("#model_get_meta").click(function()
    {
        var cls=$("#model_class").val();

        rpc(cls+".get_meta",{}, function(result)
        {
            viewShowError(result, view.context);

            //remove old crap
            $(".clone-context", view.context).empty();

            //recursive cloner that traverses the metadata and does the actual cloning
            function cloner(key_str, main_meta, context)
            {

//                else if (meta.type=='Dict')
                {

                    //traverse the fields
                    $.each(main_meta.meta, function (key, meta)
                    {
                        var this_key=''
                        if (key_str!='')
                            this_key=key_str+'.'+key;
                        else
                            this_key=key;

                        console.log(key,meta);

                        if (meta.type=='Dict')
                        {
                            //just stay in the same context
                            cloner(this_key, meta, context);
                        }
                        else if (meta.type!='FieldId')
                        {
                            //clone description
                            var clone_meta_source=$(".clone-meta-source:first", context);
                            var clone=clone_meta_source.clone(true);
                            clone.attr("field-key", this_key);
                            clone_meta_source.after(clone);

                            //is it a list?
                            if (meta.type=='List')
                            {
                                //clone data field, without setting fieldkey
                                var clone_data_source=$(".clone-data-source:first", context);
                                var clone=clone_data_source.clone(true);
                                clone_data_source.after(clone);
                                
                                //put a new list in it, and set the field-key of the field-list-source instead
                                clone.append(clone_list_source.clone(true).attr("field-key", this_key)); 
                                $(".field-list-source", clone).attr("field-key", this_key);

                                //recurse into it
                                cloner(this_key, meta.meta, clone);
                            }
                            else
                            {
                                //clone data
                                var clone_data_source=$(".clone-data-source:first", context);
                                var clone=clone_data_source.clone(true);
                                clone.attr("field-key", this_key)
                                clone_data_source.after(clone);
                                //clone.insertBefore(clone_data_source);
                            }

                        }

                    });

                }
            }

            
            $(".clone-context", view.context).append(clone_list_source.clone(true));
            cloner('', result.data.meta, $(".clone-context", view.context));


//return;
//            clone_sources.remove();

            //now create the actual list control
            new ControlList({
                'view'              : view,
                'class'             : cls,
                'title'             : 'Database viewer',
                'endless_scrolling' : true,
                'edit_view'       : {
                    name:   'core.Database.edit',
                    mode:   'main',
                    params: { cls: cls }
                }         
            });

        });

    });

    $("#model_get_meta").click();

</script>

<fieldset>
    Model class: <input type='text' id='model_class' value='core.Users'>

    <div class='viewErrorClass'>
        <button id='model_get_meta' >Get metadata</button>
        <span class='viewErrorText'></span>
    </div>
</fieldset>


<span class="ui-icon ui-icon-search" style='display:inline-block'></span>
<input type='text' class='control-on-change-search control-default-focus' control-search-keys='username module_name text' >

<div class='clone-context'>
    <table class='clone-list-source field-meta-put'>
        <tr class='ui-widget-header'>
        	<th class='field-meta-put control-on-click-order clone-meta-source' field-key='' field-meta-key='desc'>
        </tr>


        <tr class='colorRows field-meta-put field-list-source ui-widget-content' field-key=''>
            <td class='field-put clone-data-source control-on-click-edit' field-key='' >
        </tr>
    </table>
</div>
