/*
	Global CSS stuff. Stuff that specifies how the screen and menu layouts look.
	Do not put view specific stuff in here, use view.css instead.

*/

.colorRows 
{
       background: #EFE;
}

.colorRows:nth-child(2n-1)
{
       background: #DFD;
}



#viewMenu
{
}



/* A main menu item */
.menuMain
{
	display:block;
	cursor: pointer;
	
}

/* Title of a main menu item */
.menuMainTitle
{
	padding: 0em;
}

.menuMainTitle:hover
{
	background: #dddddd;
}

.menuMain_Active .menuMainTitle
{
	border-style:solid;
	border-color:white;
	border-width:1px;
	background: #dddddd;

}


/* Contains submenu items that belong to the main menu */
.menuMainSubs
{
	border-width: 1px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-color: #bbbbbb;
	padding: 0em;
	padding-left:1.5em;
	background: #eeeeee;
	cursor: pointer;
}

/* A sub menu item */
.menuSub
{
	
}

.menuSub:hover
{
	background: #dddddd;
}

/* A favorite item in a submenu */
.menuFavorite
{
	color: blue;
}

.menuFavorite:hover
{
	background: #dddddd;
}


/* A menu seperator */
.menuSeperator
{
	border-width:1px;
	border-style:solid;
	border-color: #dddddd;
	margin:0.5em;
	padding:0px;
	
}

/* An active main menu */
.menuMain_Active
{
	
}

/* An passive main menu */
.menuMain_Passive
{
	
}

/* Stuff with the class .menuMain_AcitiveHide is hidden when it becomes active */
.menuMain_Active .menuMain_ActiveHide
{
	display:none !important; 
}

/* Stuff with the class .menuMain_PassiveHide is hidden when it becomes passive */
.menuMain_Passive .menuMain_PassiveHide
{
	display:none !important;
}

.viewTitle
{
	display:inline;	
	cursor: default;
	color: black;
	font-weight: bold;
}

.viewTitleHistory
{
	cursor: pointer;
	color: blue;
	font-weight: normal;	
}

.viewMain
{
	
}




.log
{
}


.debug
{
	color:gray;
	margin:2px;
	font-size:small;
	padding:2px;

}


.floatingBar
{
	position: fixed;
	left: 15em;
	right: 0em;
	bottom:0em;
	background: #dddddd;

	padding-top:0.5em;
	padding-left:1em;
	border-width:2px;
	border-top-color:black;
	border-top-style:solid;
	padding-right:1em;
}

.floatingBar *
{
	float:left;
}

#views
{
	padding-left:15em;
	padding-top:2em;
	padding-bottom:3em;	
}

@media print
{
	.floatingBar
	{
		display: none;
	}

	.hide-while-printing
	{
		display: none;
	}

	#views
	{
		padding-left:0em;
		padding-right:0em;
		padding-top:0em;
		padding-bottom:0em;
	}
}


