
<script>

var form=new ControlForm({
    'view'            : view,
    'class'           : 'ticket.Tickets',
    'get_params'      : { '_id': view.params._id },
    'default_focus'   : 'title',
    'title'           : 'Edit task {title}',
    'title_new'       : 'New task',
    // 'favorite_menu'   : 'ticket',
    'default'         : { 
        'owner': session.user_id,
        'allowed_groups': [ ],
        'start_date': new Date().getTime()/1000,
        'relations': view.params.relations
    }
});



</script>


<table class='inline-block'>
    <tr>
        <td class='field-meta-put' field-key='ticket_completed' field-meta-key='desc'>
        <td class='field-meta-put' field-key='ticket_completed'>
    </tr>
	<tr>
		<td class='field-meta-put' field-key='title' field-meta-key='desc'>
		<td class='field-meta-put' field-key='title'>
	</tr>
    <tr>
        <td class='field-meta-put' field-key='desc' field-meta-key='desc'>
        <td><textarea class='field-put field-get field-input' field-key='desc' cols=80 rows=10></textarea>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='start_date' field-meta-key='desc'>
        <td class='field-meta-put' field-key='start_date'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='due_date' field-meta-key='desc'>
        <td class='field-meta-put' field-key='due_date'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='ticket_status' field-meta-key='desc'>
        <td class='field-meta-put' field-key='ticket_status'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='ticket_priority' field-meta-key='desc'>
        <td class='field-meta-put' field-key='ticket_priority'>
    </tr>
<!--
    <tr>
        <td class='field-meta-put' field-key='relation' field-meta-key='desc'>
        <td class='field-meta-put' field-key='relation'>
            <span class='list-span field-list-source field-list-source-hide' field-key='relation' field-list-view="ticket.Relations.edit">
                <span class='field-put field-list-on-click-view' field-key='relation.name'></span>
                <span class='inline-block field-list-on-click-del ui-icon ui-icon-minus'></span>
            </span>
            <input  class='field-relation-on-change-autocomplete' search-keys='name' result-format='{name}' size=10/>
            <span style='display:inline-block' class='field-relation-on-click-add ui-icon ui-icon-triangle-1-s'></span>
            <br>
            <a class='field-list-on-click-view' field-key='name' href='#'>Create new relation</a>
    </tr>
-->

</table>

<fieldset class='inline-block' style='vertical-align: top'>
    <legend class='field-meta-put' field-key='relations' field-meta-key='desc'></legend>
    <table class='field-meta-put field-key-root' field-key='relations'>
        <tr class='ui-widget-header'>
            <th class='field-meta-put' field-key='relations.title' field-meta-key='desc'>
            <th>
        </tr>

        <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='relations' field-list-view="ticket.Relations.edit">
            <td class='field-put field-list-on-click-view' field-key='relations.title'>
            <td class='field-list-on-click-del ui-icon ui-icon-minus'>
        </tr>
        <tr class='ui-widget-content'>
            <td><input class='field-relation-on-change-autocomplete' search-keys='title desc' result-format='{title}' />
            <td class='field-relation-on-click-add ui-icon ui-icon-triangle-1-s'>
        </tr>
        <tr>
            <td colspan=2 class='field-list-on-click-view' field-key='relations.title'> <a href='#'>Create new relation</a>
        </tr>
    </table>
</fieldset>


<fieldset class='inline-block'>
<legend>Sharing</legend>

    <div>
        <span class='field-meta-put' field-key='owner' field-meta-key='desc'></span>: 
        <span class='field-meta-put' field-key='owner'>
            <span class='list-span field-list-source field-list-source-hide' field-key='owner' field-list-view="core.Users.edit">
                <span class='field-put field-list-on-click-view' field-key='owner.fullname' style='font-weight: bold'></span>
                <span class='inline-block field-list-on-click-del ui-icon ui-icon-minus'></span>
            </span>
            <input  class='field-relation-on-change-autocomplete' search-keys='name fullname' result-format='{fullname}' size=10/>
            <span style='display:inline-block' class='field-relation-on-click-add ui-icon ui-icon-triangle-1-s'></span>
        </span>
    </div>

    <fieldset style='display:inline-block;'>
        <legend class='field-meta-put' field-key='deligated_users' field-meta-key='desc'></legend>
        <table class='field-meta-put' field-key='deligated_users'>
            <tr class='ui-widget-header'>
                <th class='field-meta-put' field-key='deligated_users.name' field-meta-key='desc'>
                <th>
            </tr>

            <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='deligated_users' field-list-view="core.Users.edit">
                <td class='field-put field-list-on-click-view' field-key='deligated_users.fullname'>
                <td class='field-list-on-click-del ui-icon ui-icon-minus'>
            </tr>
            <tr class='ui-widget-content'>
                <td><input class='field-relation-on-change-autocomplete' search-keys='name fullname' result-format='{name} ({fullname})' />
                <td class='field-relation-on-click-add ui-icon ui-icon-triangle-1-s'>
            </tr>
            <tr>
                <td colspan=2 class='field-list-on-click-view' field-key='name'> <a href='#'>Create new user</a>
            </tr>
        </table>
    </fieldset>

    <fieldset style='display:inline-block;'>
        <legend class='field-meta-put' field-key='allowed_groups' field-meta-key='desc'></legend>
        <table class='field-meta-put' field-key='allowed_groups'>
            <tr class='ui-widget-header'>
                <th class='field-meta-put' field-key='allowed_groups.name' field-meta-key='desc'>
                <th>
            </tr>

            <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='allowed_groups' field-list-view="core.Groups.edit">
                <td class='field-put field-list-on-click-view' field-key='allowed_groups.name'>
                <td class='field-list-on-click-del ui-icon ui-icon-minus'>
            </tr>
            <tr class='ui-widget-content'>
                <td><input class='field-relation-on-change-autocomplete' search-keys='name' result-format='{name}' />
                <td class='field-relation-on-click-add ui-icon ui-icon-triangle-1-s'>
            </tr>
            <tr>
                <td colspan=2 class='field-list-on-click-view' field-key='name'> <a href='#'>Create new group</a>
            </tr>
        </table>
    </fieldset>

</fieldset>

<fieldset class='inline-block'>
    <legend class='field-meta-put' field-key='tickets' field-meta-key='desc'></legend>
    <table class='field-meta-put field-key-root' field-key='tickets'>
        <tr class='ui-widget-header'>
            <th class='field-meta-put' field-key='tickets.title' field-meta-key='desc'>
            <th>
        </tr>

        <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='tickets' field-list-view="ticket.Tickets.edit">
            <td class='field-put field-list-on-click-view' field-key='tickets.title'>
            <td class='field-list-on-click-del ui-icon ui-icon-minus'>
        </tr>
        <tr class='ui-widget-content'>
            <td><input class='field-relation-on-change-autocomplete' search-keys='title desc' result-format='{title}' />
            <td class='field-relation-on-click-add ui-icon ui-icon-triangle-1-s'>
        </tr>
        <tr>
            <td colspan=2 class='field-list-on-click-view' field-key='tickets.title'> <a href='#'>Create new subtask</a>
        </tr>
    </table>
</fieldset>


<div class='floatingBar viewErrorClass'>
	<button class='control-on-click-save' >Save</button>
	<button class='control-on-click-del control-hide-on-new' >Delete</button>
	<button class='control-on-click-cancel' >Cancel</button>
	<span class='viewErrorText'></span>
</div>
