<script>
    form=new ControlList({
        'view'            	: view,
        'class'        		: 'ticket.Tickets',
        'get_params'        : {
            "match": {
                'ticket_status': 'next_action'
                }
        },
        'title'           	: 'Task overview',
        'on_change'         : 'get',
        'endless_scrolling'	: true,
        'favorite_menu'     : 'ticket'
    });

    //post processing for list-items
    var now=new Date().getTime()/1000;
    $('.field-list-source[field-key=""]', context).on("field_list_post_put", function(e, list_element, data)
    {

        if (data)
        {
            if (!data['ticket_completed'])
            {
                list_element.removeClass("ticket-gray-style");
            }
            else
            {
                list_element.addClass("ticket-gray-style");
            }


            // if ('allowed_groups' in data)
            // {
            //     $('.ticket-sharing', list_element).removeClass("ticket-sharing-private ticket-sharing-group ticket-sharing-deligated");
            //     //private ticket
            //     if (data['allowed_groups'].length==0 && data['deligated_users'].length==0)
            //         $('.ticket-sharing', list_element).addClass("ticket-sharing-private");
            //     //shared with group
            //     else if (data['allowed_groups'].length>0)
            //         $('.ticket-sharing', list_element).addClass("ticket-sharing-group");
            //     else
            //         $('.ticket-sharing', list_element).addClass("ticket-sharing-deligated");
            // }
        }
    });

    $(".tabs", context).tabs({
        'activate': function(event, ui)
        {
            if (ui.newTab.attr("status")=="")
            {
                form.params.get_params.match={};
            }
            else
            {
                form.params.get_params.match={
                    'ticket_status': ui.newTab.attr("status")
                };
            }

            form.params.create_view_params.ticket_status=ui.newTab.attr("status");
            if (form.params.create_view_params.ticket_status=="next_action")
                form.params.create_view_params.ticket_status="";

            form.get_delayed({});
           // ("input", context).focus();
            form.focus();
        } 
    });

    $(".on-click-refresh",context).click(function()
    {
        form.get_delayed({});
        return(false);
    });
</script>

<div class="tabs">
    <ul>
        <li status="next_action">   <a href="#dummytab">Next action</a></li>
        <li status="project">       <a href="#dummytab">Project</a></li>
        <li status="waiting">       <a href="#dummytab">Waiting for</a></li>
        <li status="someday">       <a href="#dummytab">Someday/Maybe</a></li>
        <li status="reference">     <a href="#dummytab">Reference</a></li>
        <li status="none">          <a href="#dummytab">Unassigned</a></li>
        <li status="">              <a href="#dummytab">All</a></li>
    </ul>
    <div id="dummytab">
 
        <span class="ui-icon ui-icon-search" style='display:inline-block'></span>
        <input type='text' class='control-on-change-search control-default-focus' control-search-keys='title desc'>

        <a href='#' class='on-click-refresh'>Refresh...</a>

        <table >
            <tr class='ui-widget-header'>
                <th>
            	<th class='control-on-click-order control-order-asc' field-key='ticket_completed'>
                <th class='ticket-sharing-permissions'>
                <th class='field-meta-put control-on-click-order' field-key='title' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order' field-key='start_date' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order control-order-asc' field-key='due_date' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order control-order-desc' field-key='ticket_priority' field-meta-key='desc'>
                <th class='field-meta-put control-on-click-order' field-key='ticket_status' field-meta-key='desc'>
            	<th>
            </tr>

            <tr class='colorRows ticket-row field-list-source notranslate field-list-source-hide ui-widget-content' field-list-class='ticket.Tickets' field-key='' field-list-view="ticket.Tickets.edit">
                <td class='field-list-on-click-view ticket-show-button-style' field-list-view="ticket.Tickets.show">&nbsp;

                <td class='field-put control-list-on-click-edit ticket-check-style' field-key='ticket_completed' field-no-text>

                <td nowrap class='field-meta-put field-list-on-click-view ' field-relation-delayed field-key='allowed_groups'>

                    <span class='field-meta-put field-list-on-click-view' field-relation-delayed field-key='allowed_groups'>
                            <span class='field-list-source field-list-source-hide tooltip-activate notranslate ticket-sharing-group  ' field-key='allowed_groups'>
                                <span  class='field-put tooltip' field-key='allowed_groups.name'>...</span>
                            </span>
                    </span>

                    <span class='field-meta-put field-list-on-click-view' field-relation-delayed field-key='deligated_users'>
                        <span class='field-list-source field-list-source-hide tooltip-activate notranslate ticket-sharing-deligated' field-key='deligated_users'>
                            <span  class='field-put tooltip' field-key='deligated_users.name'>...</span>
                        </span>
                    </span>


            	<td class='field-put control-list-on-click-edit' field-key='title' >
                <td class='field-put control-list-on-click-edit' field-key='start_date' nowrap>
                <td class='field-put control-list-on-click-edit ticket-due-date-style' field-key='due_date' nowrap>
                <td class='field-put control-list-on-click-edit ticket-priority-style' field-key='ticket_priority' nowrap>
                <td class='field-put control-list-on-click-edit ticket-status-style' field-key='ticket_status' nowrap>

            	<td class='control-on-click-del ui-icon ui-icon-trash'>
            </tr>
        </table>
    </div>
</div>


<div class='floatingBar viewErrorClass'>
    <button class='control-on-click-view' control-view='ticket.Tickets.edit' field-key='title' >Create new task</button>
    <span class='viewErrorText'></span>
</div>
