
<script>
    new ControlList({
        'view'            	: view,
        'class'        		: 'ticket.Tickets',
        'get_params'        : view.params,
        'title'           	: 'Task overview',
        'endless_scrolling'	: true,
        'favorite_menu'     : 'ticket'
    });

    var now=new Date().getTime()/1000;
    $('.field-list-source[field-key=""]', context).on("field_list_post_put", function(e, list_element, data)
    {
        if (data)
        {
            $('[field-key="due_date"]', list_element).removeClass("ticket-date-late ticket-date-now ticket-date-soon ticket-date-future");
            if (!data['ticket_completed'])
            {
                list_element.removeClass("ticket-completed");

                var delta=(data['due_date']-now)/(24*3600);
                if (delta<0)
                    $('[field-key="due_date"]', list_element).addClass("ticket-date-late");
                else if (delta<2)
                    $('[field-key="due_date"]', list_element).addClass("ticket-date-now");
                else if (delta<13)
                    $('[field-key="due_date"]', list_element).addClass("ticket-date-soon");
                else
                    $('[field-key="due_date"]', list_element).addClass("ticket-date-future");


            }
            else
            {
                list_element.addClass("ticket-completed");
            }
        }
    });



</script>


<span class="ui-icon ui-icon-search" style='display:inline-block'></span>
<input type='text' class='control-on-change-search control-default-focus' control-search-keys='title text'>

<table >
    <tr class='ui-widget-header'>
        <th>
        <th>
    	<th class='field-meta-put control-on-click-order control-order-asc' field-key='ticket_completed' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='title' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='start_date' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order control-order-asc' field-key='due_date' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order control-order-desc' field-key='ticket_priority' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='ticket_status' field-meta-key='desc'>
    	<th>
    </tr>

    <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-list-class='ticket.Tickets' field-key='' field-list-view="ticket.Tickets.edit">
        <td class='field-list-on-click-view' field-list-view="ticket.Tickets.show"><a href='#'>View</a>
        <td class='field-list-on-click-view' field-list-view="ticket.Tickets.edit"><a href='#'>Edit</a>

        <td class='field-put control-list-on-click-edit' field-key='ticket_completed' >
    	<td class='field-put control-list-on-click-edit' field-key='title' >
        <td class='field-put control-list-on-click-edit' field-key='start_date'>
        <td class='field-put control-list-on-click-edit' field-key='due_date'>
        <td class='field-put control-list-on-click-edit' field-key='ticket_priority' >
        <td class='field-put control-list-on-click-edit' field-key='ticket_status' >

    	<td class='control-on-click-del ui-icon ui-icon-trash'>
    </tr>
</table>

<div class='floatingBar viewErrorClass'>
    <button class='control-on-click-view' control-view='ticket.Tickets.edit' field-key='title' >Create new task</button>
    <span class='viewErrorText'></span>
</div>
