
<script>
    new ControlList({
        'view'            	: view,
        'class'        		: 'ticket.Tickets',
        'get_params'        : view.params,
        'title'           	: 'Task overview',
        'endless_scrolling'	: true,
        'favorite_menu'     : 'ticket',
    });

</script>


<span class="ui-icon ui-icon-search" style='display:inline-block'></span>
<input type='text' class='control-on-change-search control-default-focus' control-search-keys='title text'>

<table >
    <tr class='ui-widget-header'>
        <th>
    	<th class='field-meta-put control-on-click-order' field-key='completed' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='title' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='start_date' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='due_date' field-meta-key='desc'>
        <th class='field-meta-put control-on-click-order' field-key='status' field-meta-key='desc'>
    	<th>
    </tr>

    <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-list-class='ticket.Tickets' field-key='' field-list-view="ticket.Tickets.edit">
        <td class='field-list-on-click-view' field-list-view="ticket.Tickets.show"><a href='#'>View...</a>
        <td class='field-put control-list-on-click-edit' field-key='completed' >
    	<td class='field-put control-list-on-click-edit' field-key='title' >
        <td class='field-put control-list-on-click-edit' field-key='start_date' >
        <td class='field-put control-list-on-click-edit' field-key='due_date' >
        <td class='field-put control-list-on-click-edit' field-key='status' >

    	<td class='control-on-click-del ui-icon ui-icon-trash'>
    </tr>
</table>

<div class='floatingBar viewErrorClass'>
    <button class='control-on-click-view' control-view='ticket.Tickets.edit' field-key='title' >Create new task</button>
    <span class='viewErrorText'></span>
</div>
