
<script>

var form=new ControlForm({
    'view'            : view,
    'class'           : 'ticket.Tickets',
    'get_params'      : view.params,
    'default_focus'   : 'title',
    'on_change'       : 'put',
    'title'           : 'View task {title}',
    'favorite_menu'   : 'ticket',
    'context'         : '.ticket',
    'create_view_params': view.params,
    'get_result': function(result)
    {
        var context=$("#"+view.id);
        $(".new-ticket-item", context).click(function()
        {
            viewCreate({ creator: $(this) },
            {
                name: 'ticket.TicketObjects.edit',
                mode: 'main',
                params: {
                    ticket_id: view.params._id
                }
            });

        });
    }
});

new ControlListRelated({
    'view'              : view,
    'context'           : '.ticket-objects',
    'class'             : 'ticket.TicketObjects',
    'endless_scrolling' : true,
    'related_key'       : 'tickets',
    'related_value'     : view.params._id,
    'unrelate_confirm'  : "Do you want to remove task item '{title}' from this ticket?",
    'create_view_params': {
        'group_ids': [ view.params._id ]
    }
});


</script>

<fieldset class='ticket'>
    <div control-view="ticket.Tickets.edit">

        <table>
        	<tr>
        		<td class='field-meta-put' field-key='title' field-meta-key='desc'>
        		<td class='field-put value control-on-click-view' field-key='title'>
        	</tr>
            <tr>
                <td class='field-meta-put' field-key='desc' field-meta-key='desc'>
                <td><pre class='field-put value control-on-click-view' field-key='desc'></pre>
            </tr>
            <tr>
                <td class='field-meta-put' field-key='relations' field-meta-key='desc'>
                <td class='field-meta-put' field-key='relations'>
                    <span class='list-span field-list-source field-list-source-hide' field-key='relations' field-list-view="ticket.Relations.edit">
                        <span class='field-put field-list-on-click-view' field-key='relations.title'></span>
                    </span>
            </tr>
        </table>

        <fieldset style='display:inline-block;'>
        <legend>Sharing</legend>
            <table >
                <tr class='field-meta-put control-on-click-view' field-key='allowed_users'>
                    <td class='field-meta-put' field-key='allowed_users' field-meta-key='desc'>
                    <td>:
                        <span class='field-list-source field-list-source-hide' field-key='allowed_users' field-list-view="core.Users.edit">
                            <span class='list-span field-put field-list-on-click-view' field-key='allowed_users.name'></span>
                        </span>
                </tr>

                <tr class='field-meta-put control-on-click-view'  field-key='allowed_groups'>
                    <td class='field-meta-put' field-key='allowed_groups' field-meta-key='desc'>
                    <td>:
                        <span class='field-list-source field-list-source-hide' field-key='allowed_groups' field-list-view="core.Groups.edit">
                            <span class='list-span field-put field-list-on-click-view' field-key='allowed_groups.name'></span>
                        </span>
                </tr>
            </table>
        </fieldset>


    </div>
</fieldset>



<fieldset class='ticket-objects control-hide-on-new'>
<legend>Ticket items</legend>
    <table >
        <tr class='ui-widget-content'>
            <td colspan=5><input class='control-relation-on-change-autocomplete' search-keys='title' result-format='{type}: {title}' />
            <td class='control-relation-on-click-add ui-icon ui-icon-plus'>
        </tr>
        <tr class='ui-widget-header'>
            <th class='field-meta-put control-on-click-order control-order-desc' field-key='create_time' field-meta-key='desc'>
            <th class='field-meta-put control-on-click-order' field-key='type' field-meta-key='desc'>
            <th class='field-meta-put control-on-click-order' field-key='title' field-meta-key='desc'>
            <th>
        </tr>

        <tr class='colorRows field-list-source field-list-source-hide ui-widget-content' field-key='' field-list-view="ticket.TicketObjects.edit">
            <td class='field-list-on-click-view field-put' field-key='create_time' >
            <td class='field-list-on-click-view field-put' field-key='type' >
            <td class='field-list-on-click-view field-put' field-key='title' >
            <td class='control-relation-on-click-del ui-icon ui-icon-minus'>
        </tr>
    </table>
</fieldset>

<div class='floatingBar viewErrorClass'>
	<button class='new-ticket-item' >Add items to ticket</button>
	<button class='control-on-click-cancel' >Back to overview</button>
	<span class='viewErrorText'></span>
</div>
