
<script>

var form=new ControlForm({
    'view'            : view,
    'class'           : 'ticket.Tickets',
    'get_params'      : view.params,
    'on_change'       : 'get',
    'title'           : 'View task {title}',
    'favorite_menu'   : 'ticket',
    'favorite_title'  : '{title}',
    'context'         : '.ticket',
    'create_view_params': view.params,
    'get_result': function(result)
    {

    },
    'field_put': function(data)
    {
        //(re)-create time-adding-buttons
        //this seems overly complex, but thats because its very specific and cant be abstracted i think.
        function create_buttons()
        {
            $(".on-click-new-ticket-time",context).remove();
            //first resolve all relations
            rpc( "ticket.Relations.get_all", { 'match_in': { '_id': data.relations }}, function(relations)
            {
                //get all related contracts
                var contract_ids=[];
                $.each(relations.data, function(i, relation)
                {   
                    if (relation.contracts)
                        contract_ids=contract_ids.concat(relation.contracts);
                });

                rpc( "ticket.Contracts.get_all", { 'match_in': { '_id': contract_ids }}, function(contracts)
                {
                    //index contracts by id
                    var contracts_by_id={};
                    $.each(contracts.data, function(i, contract){
                        contracts_by_id[contract._id]=contract;
                    });

                    //now add a button for every relation
                    $.each(relations.data, function(i, relation)
                    {
                        // var span=$("<span class='notranslate ticket-add-time-button-style'></span>");
                        // span.text(relation.title);

                        // var button=$("<button class='on-click-new-ticket-time'></button>");
                        // button.append(span);
                        // button.attr("relation-id",relation._id);
                        // $(".floatingBar",context).append(button);

                        //add specific buttons to add time to each contract of this relation
                        if (relation.contracts)
                        {
                            $.each(relation.contracts, function(i, contract_id)
                            {
                                // console.log("add time: ", relation.title, contracts_by_id[contract_id].title);

                                var span=$("<span class='ticket-add-time-button-style'></span>");
                                span.text(relation.title+": "+contracts_by_id[contract_id].title);

                                var button=$("<button class='notranslate on-click-new-ticket-time'></button>");
                                button.append(span);
                                button.attr("relation-id",relation._id);
                                button.attr("contract-id",contract_id);
                                $(".floatingBar",context).append(button);
                            });
                        }
                    });
                });
            });
        };

        create_buttons();
        $(context).subscribe("ticket.Contracts.changed", "time_buttons", create_buttons);
        $(context).subscribe("ticket.Relations.changed", "time_buttons", create_buttons);

        var allowed_users=data.deligated_users;

        allowed_users.push(data.owner);
        $(".on-click-new-ticket-note", context).off().click(function()
        {

            viewCreate({ creator: context },
            {
                name: 'ticket.TicketObjects.edit',
                mode: 'main',
                params: {
                    ticket_id: view.params._id,
                    type: 'note',
                    allowed_users: allowed_users,
                    allowed_groups: data.allowed_groups

                }
            });

        });


        $(".floatingBar", context).on('click',".on-click-new-ticket-time", function()
        {
            viewCreate({ creator: context },
            {
                name: 'ticket.TicketObjects.edit',
                mode: 'main',
                params: {
                    ticket_id: view.params._id,
                    type: 'time',
                    billing_relation: $(this).attr("relation-id"),
                    billing_contract: $(this).attr("contract-id"),
                    allowed_users: allowed_users,
                    allowed_groups: data.allowed_groups
                }
            });

        });


        $(".hidden-uploader", context).off().change(function()
        {
            var file_nr=0;
            var files=this.files

            function start_upload()
            {
                if (file_nr>=files.length)
                {
                    $(".hidden-uploader", context).val("");
                    return;
                }

                //upload file to server
                rpc( "ticket.TicketObjects.put", {
                    "file": files[file_nr],
                    "type": "doc",
                    "allowed_users": allowed_users,
                    "allowed_groups": data.allowed_groups,
                    "tickets": [ view.params._id ],
                    "create_time": new Date().getTime()/1000,
                },
                function(result)
                {
                    if (!viewShowError(result, context))
                    {
                        file_nr++;
                        start_upload();
                    }
                });
            }

            start_upload();
        });
    }
});



$(".on-click-edit", context).click(function()
{
    viewCreate({ creator: context },
    {
        name: 'ticket.Tickets.edit',
        mode: 'main',
        params: {
            _id: view.params._id,
        }
    });
});



$(".on-click-completed", context).click(function()
{
    rpc("ticket.Tickets.put",{
        _id: view.params._id,
        ticket_completed: $(".field-bool-false", this).length!=0

    });
    return(false);
});


$(".on-click-back", context).click(function()
{
    viewClose(view);

});



$(".on-click-upload-doc", context).on('click', function()
{
    $(".hidden-uploader", context).click();

});



new ControlList({
    'view'              : view,
    'context'           : '.ticket-objects',
    'class'             : 'ticket.TicketObjects',
    'endless_scrolling' : true,
    'get'               : 'ticket.TicketObjects.get_all_by_ticket',
    'get_params'        : { 'ticket_id': view.params._id },

});

new ControlListRelated({
    'view'              : view,
    'context'           : '.ticket-depends',
    'class'             : 'ticket.Tickets',
    'endless_scrolling' : false,
    'related_key'       : 'tickets',
    'related_value'     : view.params._id,
});

</script>


<span class='ticket' control-view="ticket.Tickets.edit">

    <h1 class='notranslate'>
        <span class='field-put clickable on-click-completed ticket-check-style' field-no-text field-key='ticket_completed'></span>
        <span class='field-put control-on-click-view' field-key='title'></span>
    </h1>

    <fieldset class='inline-block'>
        <legend>Status</legend>
        <table class='inline-block'>
            <tr>
                <td class='field-meta-put control-on-click-view' field-key='desc' field-meta-key='desc'>
                <td style='white-space: pre-wrap' class='field-put value notranslate ' field-key='desc'>
            </tr>
            <tr>
                <td class='field-meta-put control-on-click-view nowrap' field-key='start_date' field-meta-key='desc'>
                <td class='field-put value notranslate control-on-click-view nowrap'  field-key='start_date'>
            </tr>
            <tr>
                <td class='field-meta-put control-on-click-view nowrap' field-key='due_date' field-meta-key='desc'>
                <td class='field-put value notranslate control-on-click-view nowrap'  field-key='due_date'>
            </tr>
            <tr>
                <td class='field-meta-put control-on-click-view nowrap' field-key='ticket_status' field-meta-key='desc'>
                <td class='field-put value notranslate control-on-click-view nowrap'  field-key='ticket_status'>
            </tr>
            <tr>
                <td class='field-meta-put control-on-click-view nowrap' field-key='ticket_priority' field-meta-key='desc'>
                <td class='field-put value notranslate control-on-click-view nowrap'  field-key='ticket_priority'>
            </tr>
            <tr>
                <td class='field-meta-put control-on-click-view' field-key='relations' field-meta-key='desc'>
                <td class='field-meta-put' field-key='relations' >
                    <span class='list-span field-dict-raw field-list-source notranslate field-list-source-hide field-list-on-click-view' field-key='relations' field-list-view="ticket.Relations.show">
                        <span class='field-put' field-key='relations.title'></span>
                    </span>
            </tr>
        </table>
    </fieldset>

    <fieldset class='inline-block'>
    <legend>Sharing</legend>
        <table >
            <tr class='field-meta-put ' field-key='owner'>
                <td class='field-meta-put control-on-click-view' field-key='owner' field-meta-key='desc'>
                <td>:
                    <span class='field-list-source field-list-source-hide control-on-click-view' field-key='owner' field-list-view="core.Users.edit">
                        <span class='list-span field-put' field-key='owner.name'></span>
                    </span>
            </tr>

            <tr class='field-meta-put' field-key='deligated_users'>
                <td class='field-meta-put control-on-click-view' field-key='deligated_users' field-meta-key='desc'>
                <td>:
                    <span class='field-list-source field-list-source-hide control-on-click-view' field-key='deligated_users' field-list-view="core.Users.edit">
                        <span class='ticket-sharing-deligated field-put' field-key='deligated_users.name'></span>
                    </span>
            </tr>

            <tr class='field-meta-put'  field-key='allowed_groups'>
                <td class='field-meta-put  control-on-click-view' field-key='allowed_groups' field-meta-key='desc'>
                <td>:
                    <span class='field-list-source field-list-source-hide control-on-click-view' field-key='allowed_groups' field-list-view="core.Groups.edit">
                        <span class='ticket-sharing-group field-put ' field-key='allowed_groups.name'></span>
                    </span>
            </tr>
        </table>
    </fieldset>

    <fieldset class='inline-block'>
        <legend class='field-meta-put' field-key='tickets' field-meta-key='desc'></legend>
        <table class='field-meta-put field-key-root' field-key='tickets'>
            <tr class='colorRows field-list-source notranslate field-list-source-hide ui-widget-content' field-key='tickets' field-list-view="ticket.Tickets.show">
                <td class='field-put field-list-on-click-view ticket-check-style' field-key='tickets.ticket_completed' field-no-text>
                <td class='field-put field-list-on-click-view' field-key='tickets.title'>
                <td class='field-put field-list-on-click-view' field-key='tickets.ticket_status'>
            </tr>
        </table>
    </fieldset>
</span>


<fieldset class='ticket-depends inline-block'>
    <legend>Tasks that depend on us</legend>
    <table >
        <tr class='colorRows field-list-source notranslate field-list-source-hide ui-widget-content' field-key='' field-list-view="ticket.Tickets.show">
            <td class='field-list-on-click-view field-put ticket-check-style' field-key='ticket_completed' field-no-text>
            <td class='field-list-on-click-view field-put' field-key='title' >
            <td class='field-list-on-click-view field-put' field-key='ticket_status' >
        </tr>
    </table>
</fieldset>




<fieldset class='control-hide-on-new'>
    <legend>Task history and notes</legend>
    <div class='ticket-objects' style='overflow: auto; max-height:60em;'>
        <span class="ui-icon ui-icon-search" style='display:inline-block'></span>
        <input type='text' class='control-on-change-search control-default-focus' control-search-keys='title text'>

        <table>
            <tr class='ui-widget-header'>
                <th>
                <th class='field-meta-put control-on-click-order control-order-desc' field-key='create_time' field-meta-key='desc' >
                <th colspan=3>Billing
                <th>
                <th>
                <th>
            </tr>

            <tr class='colorRows ticket-object field-list-source notranslate field-list-add-after field-list-source-hide ui-widget-content' field-key='' field-list-view="ticket.TicketObjects.edit">

                <td><img style='padding-bottom: 1em' class='field-list-on-click-view  field-put' src='#' field-key='thumbnail'>

                <td class='field-list-on-click-view field-put' field-key='create_time' nowrap field-timestamp-allow-time>

                <td class='field-meta-put' field-key='billing_relation'>
                    <span class='field-list-source field-list-source-hide field-list-on-click-view' field-key='billing_relation' >
                        <span class='field-put' field-key='billing_relation.title'></span>
                    </span>


                <td class='field-meta-put' field-key='billing_contract'>
                    <span class='field-list-source field-list-source-hide field-list-on-click-view' field-key='billing_contract' >
                        <span class='field-put ' field-key='billing_contract.title'></span>
                    </span>

                <td class='field-list-on-click-view field-put' field-key='minutes'>

                <td class='field-list-on-click-view field-put' field-key='from'>
                <td class='field-list-on-click-view field-put' field-key='to'>

                <td>
                    <div class='field-list-on-click-view field-put' field-key='title' style='font-weight:bold'></div>
                    <div class='field-list-on-click-view field-put' field-key='text' style='white-space: pre-wrap'></div>


            </tr>
        </table>
    </div>
</fieldset>

<div class='floatingBar viewErrorClass'>
    <button class='on-click-back' >Back</button>
    <button class='on-click-edit' >Edit</button>
    <button class='on-click-new-ticket-note'><span class='ticket-add-note-button-style' >Add note</span></button>
    <button class='on-click-upload-doc'><span class='ticket-add-doc-button-style' >Upload document</span></button>
    <input class='hidden-uploader' type='file' multiple>

    <span class='viewErrorText'></span>
</div>
