
<script>

new ControlForm({
    'view'            : view,
    'class'           : 'ticket.Contracts',
    'get_params'      : view.params,
    'default_focus'   : 'title',
    'title'           : 'Edit contract {title}',
    'title_new'       : 'New contract',
    'favorite_menu'   : 'contracts',
    'favorite_title'  : '{title}',
    'default'         : { 
        'allowed_users': [ session.user_id ],
        'allowed_groups': [ ]
    }
});



</script>

<table class='inline-block'>
    <tr>
        <td class='field-meta-put' field-key='active' field-meta-key='desc'>
        <td class='field-meta-put' field-key='active'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='title' field-meta-key='desc'>
        <td class='field-meta-put' field-key='title'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='desc' field-meta-key='desc'>
        <td><textarea class='field-put field-get field-input' field-key='desc' cols=80 rows=5></textarea>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='auto' field-meta-key='desc'>
        <td class='field-meta-put' field-key='auto'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='type' field-meta-key='desc'>
        <td class='field-meta-put' field-key='type'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='price' field-meta-key='desc'>
        <td class='field-meta-put' field-key='price'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='currency' field-meta-key='desc'>
        <td class='field-meta-put' field-key='currency'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='minutes' field-meta-key='desc'>
        <td class='field-meta-put' field-key='minutes'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='minutes_minimum' field-meta-key='desc'>
        <td class='field-meta-put' field-key='minutes_minimum'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='minutes_rounding' field-meta-key='desc'>
        <td class='field-meta-put' field-key='minutes_rounding'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='tax' field-meta-key='desc'>
        <td class='field-meta-put' field-key='tax'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='invoice_details' field-meta-key='desc'>
        <td class='field-meta-put' field-key='invoice_details'>
    </tr>
    <tr>
        <td class='field-meta-put' field-key='invoice_notes_format' field-meta-key='desc'>
        <td><textarea class='field-put field-get field-input' field-key='invoice_notes_format' cols=80 rows=10></textarea>
    </tr>
</table>

<fieldset>
    <legend>Sharing</legend>        
    <fieldset class='inline-block'>
        <legend class='field-meta-put' field-key='allowed_users' field-meta-key='desc'></legend>
        <table class='field-meta-put' field-key='allowed_users'>
            <tr class='ui-widget-header'>
                <th class='field-meta-put' field-key='allowed_users.name' field-meta-key='desc'>
                <th>
            </tr>

            <tr class='colorRows field-list-source notranslate field-list-source-hide ui-widget-content' field-key='allowed_users' field-list-view="core.Users.edit">
                <td class='field-put field-list-on-click-view' field-key='allowed_users.fullname'>
                <td class='field-list-on-click-del ui-icon ui-icon-close'>
            </tr>
            <tr class='ui-widget-content'>
                <td><input class='field-relation-on-change-autocomplete' search-keys='name fullname' result-format='{fullname}' />
                <td class='field-relation-on-click-add ui-icon ui-icon-triangle-1-s'>
            </tr>
            <tr>
                <td colspan=2 class='field-list-on-click-view' field-key='name'> <a href='#'>Create new user</a>
            </tr>
        </table>
    </fieldset>

    <fieldset class='inline-block'>
        <legend class='field-meta-put' field-key='allowed_groups' field-meta-key='desc'></legend>
        <table class='field-meta-put' field-key='allowed_groups'>
            <tr class='ui-widget-header'>
                <th class='field-meta-put' field-key='allowed_groups.name' field-meta-key='desc'>
                <th>
            </tr>

            <tr class='colorRows field-list-source notranslate field-list-source-hide ui-widget-content' field-key='allowed_groups' field-list-view="core.Groups.edit">
                <td class='field-put field-list-on-click-view' field-key='allowed_groups.name'>
                <td class='field-list-on-click-del ui-icon ui-icon-close'>
            </tr>
            <tr class='ui-widget-content'>
                <td><input class='field-relation-on-change-autocomplete' search-keys='name' result-format='{name}' />
                <td class='field-relation-on-click-add ui-icon ui-icon-triangle-1-s'>
            </tr>
            <tr>
                <td colspan=2 class='field-list-on-click-view' field-key='name'> <a href='#'>Create new group</a>
            </tr>
        </table>
    </fieldset>
</fieldset>


<div class='viewErrorClass floatingBar'>
    <button class='control-on-click-save' >Save</button>
    <button class='control-on-click-del control-hide-on-new' >Delete</button>
    <button class='control-on-click-cancel' >Cancel</button>
    <span class='viewErrorText'></span>
</div>

